<% provide(:title, 'About Us') %>

<section>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
          <!-- <img alt="2012-2013 Executive board" src="/assets/eboard2012-2103.jpg"> -->
          <!-- <%= image_tag 'eboard2012-2013.jpg' %>-->
          <!--5 Pillars, centering to make it easier to follow-->
          <hr>
          <h3 class="text-center">Mission Statement</h3>
          <hr>
            <p>
              SHPE changes lives by empowering the Hispanic community to realize their fullest potential and impacts the world through STEM awareness, access, support and development.
            </p>
            <hr>
            <h3 class="text-center">Vision</h3>
            <hr>
            <p>
              SHPE's vision is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians and engineers.
            </p>
          <hr>
            <h2 class="text-center">The Five Pillars of SHPE</h2>
            <hr>
          	<h4 class="text-center">Academics</h4>
          		<p class="text-center">As a chapter we are dedicated to academic excellence. We offer open study hours where students can come in and collaborate with fellow SHPE members. We offer advisers that help our students take the classes that will help give them the knowledge for whatever career path they choose.</p> 
          	<h4 class="text-center">Community Outreach</h4>
          		<p class="text-center">Promoting STEM awareness, especially among the hispanic commmunity, has been a principle ideal in SHPE UIUC. We have an ongoing Pen Pal program where undergraduate students write letter to children to expose them to science and engineering. We also have High School Visitation which bring students to the University of Illinois to see the campus and experience the day of a student.</p>
          	<h4 class="text-center">Chapter Development</h4>
          		<p class="text-center">Meetings and social events help to bring our Chapter together. We strive to instill qualities of professionalism and enginuity into each of our members.</p>
          	<h4 class="text-center">Leadership Development</h4>
          		<p class="text-center">SHPE UIUC works to make Latino engineers leaders in whatever field they pursue. We give students the opportunities to learn how to be better leaders, whether by choosing to lead a team of students on a project or taking on an position on the executive board, SHPE students learn how to be leaders. As well as the leadership retreat offered to students in the chapter.</p>
          	<h4   class="text-center">Professional Development</h4>
          		<p class="text-center">Networking and professional events are a staple of SHPE and its goal of fostering a strong STEM culture in the hispanic community. The yearly SHPE National Conference is the main professional event that our chapter participates in. Every year we have many students going and speaking with companies and professionals. </p>
          </div>
        </div>
        <!-- <div class="row"> 
          <div class="span8 offset2">
          <hr>
          <h3 class="text-center">More information about SHPE</h3>
            <h5 class="text-center">The SHPE Constitution</h5>
            <p>
              Learn the supporting pillars of SHPE at UIUC and how we are trying to continually improve the chapter 
              year after year.
            </p>
            <%= link_to 'SHPE Constitution', constitution_path %>

            <h5 class="text-center">Region VI</h5>
            <p>
              Learn about Region VI and what makes it one of the strongest regions in all of SHPE.
            </p> -->
            <!-- <a href="#">Region VI Homepage</a> -->
            <!-- might not use the link below due to outdated info -->
            <!-- <%= link_to 'Region VI Homepage', 'http://oneshpe.shpe.org/wps/portal/region6' %> 

            <h5 class="text-center">SHPE National</h5>
            <p>
              Learn about the bigger picture of SHPE and the efforts of professionals towards improving the future one underserved youth at a time.
            </p>
            <a href="http://www.shpe.org/">SHPE National Homepage</a>-->
          </div>
        </div>
      </div>
    </section>
