<% provide(:title, 'About Us') %>

<div class="container">
  <div class="row">
    <div class="span9 center">
      <h3>About Us</h3>
      <ul class="nav nav-tabs">
        <li><a href="#mission" data-toggle="tab">Mission and Vision</a></li>
        <li><a href="#meeting" data-toggle="tab">Meeting Info</a></li>
        <li><a href="#history" data-toggle="tab">History</a></li>
        <li><a href="#constitution" data-toggle="tab">Constitution</a></li>
        <li><a href="#regionvi" data-toggle="tab">Region VI</a></li>
        <li><a href="#national" data-toggle="tab">National</a></li>
        <li><a href="#documentary" data-toggle="tab">Documentary</a></li>

      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="mission">
          <h3>Mission Statement</h3>

          <p>
            SHPE changes lives by empowering the Hispanic community to realize their
            fullest potential and impacts the world through STEM awareness, access, support and development. </p>

          <h3>Vision</h3>

          <p>
            SHPE's vision is a world where Hispanics are highly valued and influential
            as the leading innovators, scientists, mathematicians and engineers.
          </p>

          <%= image_tag 'eboard2012-2013.jpg' %>
        </div>
        <div class="tab-pane fade" id="meeting">
          <h3>General Chapter Meeting Information</h3>

          <p>For outlines of past meetings, please take a look at The Minutes under the Members tab.</p>

          <p>Executive Board meetings open to general members every Sunday from 3:00pm-4:00pm in Engineering Hall room
            112.</p>

          <p>Freshmen Round Table meetings every Sunday from 4:00pm-5:00pm in Engineering Hall room 106.</p>
        </div>
        <div class="tab-pane fade" id="history">
          <h3>SHPE History</h3>

          <p>
            The Society of Hispanic Professional Engineers (SHPE) was founded in Los Angeles, California, in 1974 by a
            group of engineers employed by the city of Los Angeles. Their objective was to form a national organization
            of professional engineers to serve as role models in the Hispanic community.
          </p>

          <p>
            The concept of Networking was the key basis for the organization. SHPE quickly established two student
            chapters to begin the network that would grow to encompass the nation as well as reach countries outside the
            United States. Today, SHPE enjoys a strong but independent network of professional and student chapters
            throughout the nation.
          </p>

          <h3>Chapter History</h3>

          <p>
            The Society of Hispanic Professional Engineers chapter at the University of Illinois at Urbana Champaign was
            established during the 1985-1986 academic year by David Comparan, Carlos Martinez, and Perfecto Perales. The
            chapter was initiated to help and meet the needs of Hispanic students in the fields of math, science, and
            engineering. The founders traveled to Chicago to meet with the president of the Midwest Regional Chicago
            Chapter, Mike Gonzalez. The starting steps were taken and SHPE|UIUC gained recognition as a chapter by SHPE
            National and became a part of Region VI. The new chapter then made its way to the National Conference in Los
            Angeles, California, the origin of the first SHPE chapter. Since then, SHPE|UIUC has retained the same
            vision of bringing together underrepresented students who share the values of heritage, social
            responsibility, and the desire to improve the quality of all people through the use of science, math,
            engineering, and technology. During the 1993-1994 academic year, Ivan Favila led SHPE|UIUC to create the
            Engineering Open House team, High School Outreach programs, and the Freshmen Round Table. Years after, the
            High School Visitation, GPA (Goals + Persistence = Achievement), and Big Buddy/Little Buddy programs were
            started and aimed to develop the chapter‟s members.
          </p>

          <p>
            Throughout years of dedication towards the chapter, SHPE|UIUC has been honored with awards such as the
            National Chapter of the Year (02-03, 08-09), Region VI Academic Olympiad (96-97, 06-09), Professional
            Development (97-98), Region VI Chapter of the Year (98-99, 02-03, 05-09), Academic Development (00-01), and
            the Engineering Council Outstanding Society of the Year (05-06, 07-08). In addition, SHPE|UIUC has had a few
            members honored with the highest undergrad award, the SHPE Star Student Role Model of the Year. In 2002, the
            chapter hosted the first Region VI Midwestern Expo Conference. This event hosted 575 students and
            professionals combined and acquired $100,000 in funds. In 2007, under the leadership of Miguel Guerra,
            SHPE|UIUC began the Pre-College Conference, now the College Preparation Conference. This conference was
            aimed to increase the retention rate and prepare incoming underrepresented freshmen in engineering. In
            addition to the 2007-2008 year, the Regional Leadership Development Conference was hosted during the Spring
            of 2008. With professionalism growing rapidly within our society, the community outreach aspect was
            instilled. SHPE|UIUC became more active within the Urbana-Champaign community by increasing involvement with
            the F.I.R.S.T. Lego League and Proyecto C.H.E. to engage middle school students in STEM fields. High School
            outreach became a major focus of the chapter when the Higher Education Initiative program was established
            last year. This program was aimed to increase the interest in post-secondary education of minority students
            in the Chicago-land area during academic breaks. In addition to these great programs, SHPE|UIUC has had a
            strong presence at the National Conferences and has been successful in the Academic Olympiad, Technical
            Paper, and Poster competitions.
          </p>

          <p>
            Recently, the SHPE|UIUC chapter developed the first ever Leadership Retreat in the Spring of 2010, held the
            first Noche de Ciencias programs, and laid the foundation for the Junior SHPE chapter to begin in the Fall
            of 2010. The society had record high numbers in membership (117), High School Visitation participants (over
            50 total for Spring and Fall), and National (60) and Regional (19) attendees were accomplished this past
            year. Additionally, the society won Regional Chapter of the Year, Academic Olympiad Competition, Engineering
            Council Outstanding Community Service award, and another National Student Role Model of the Year. This year
            also saw the implementation of a scholarship program offering one need-based ($500) and ten merit-based
            ($150) scholarships for SHPE|UIUC members. Through much of SHPE|UIUC‟s effort, the Hispanic retention rate
            has been the highest of all ethnicities within the college of engineering for the past year and a half at
            78.9% (Figure V.1). The 2009-2010 year marked its steps within SHPE|UIUC history and continued its
            reputation as an outstanding organization on campus, and in the nation.
          </p>
        </div>
        <div class="tab-pane fade" id="constitution">

           <%= render 'constitution' %>

        </div>
        <div class="tab-pane fade" id="regionvi">
          <h3>Region VI</h3>

          <p><%= link_to 'External Region IV page', 'http://oneshpe.shpe.org/wps/portal/region6' %></p>
        </div>
        <div class="tab-pane fade" id="documentary">
          <iframe src="http://www.youtube.com/embed/lcIzx3t53HM?autoplay=0&amp;hd=1&amp;wmode=opaque" allowfullscreen="" frameborder="0" height="500" width="700"></iframe>
        </div>
        <div class="tab-pane fade" id="national">
          <h3>National</h3>

          <p><%= link_to 'External SHPE National Web Page', 'http://www.shpe.org' %></p>
        </div>

      </div>
    </div>
  </div>
</div>
