<% provide(:title, 'About Us') %>

<section>
  <div class="container">
    <div class="row">
        <div class="span8 offset2">
          <hr/>
          <h2 class="text-center">Mission Statement</h2>
          <hr/>
          <p>
            SHPE changes lives by empowering the Hispanic community to realize their fullest potential and impacts the world through STEM awareness, access, support and development.
          </p>
          <br/>
          <hr>
          <h2 class="text-center">Vision</h2>
          <hr>
            <p>
              SHPE's vision is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians and engineers.
            </p>
            <br/>
          <hr>
          <h2 class="text-center">The Five Pillars of SHPE</h2>
          <hr>
          SHPE|UIUC focuses on working to instill the five pillars of SHPE within its membership. Our programs and workshops are each related to at least one pillar in the interest of building well-rounded leaders. Below you'll find an explanation of each pillar and some of the things SHPE|UIUC does for each pillar. For a more complete set of resources offered to members check the <%= link_to 'Membership Info', members_path %>. 
          <h3 class="text-center">Academics</h3>
    		  <p>
            As a chapter we are dedicated to academic excellence. Within our chapter there is a culture of tutoring and studying together. We offer open study hours where students can come in and collaborate with fellow SHPE member in reserved library rooms. Upperclassmen serve as advisors that help our students choose the classes that will best support them in their chosen career path. It is expected that our upperclassmen make themselves available to other members whenever possible. Many SHPE members also utilize and go on to tutor for the MEP’s facilitated study groups.
          </p> 
        	<h3 class="text-center">Community Outreach</h3>
      		<p>
            Through food drives, park cleaning, Habitat for Humanity trips, and many other events planned by our <%= link_to 'Community Service Committee', community_service_path %>, the chapter does its part to strengthen our community. The chapter also tries to promote STEM awareness within the community. We have an ongoing Pen Pal program where undergraduate students write letter to children to expose them to science and engineering. Pen pals have gone on field trips together to the Chicago Museum of Science and Industry. Also, the chapter, through our 
            <%= link_to 'Outreach Committee', outreach_path %>, hosts High School Visitation days in the fall and the spring which bring students to the University of Illinois to see the campus in order to motivate them to go to college.
          </p>
        	<h3 class="text-center">Chapter Development</h3>
        	<p>
            In order to maintain a strong chapter and a sense of familia within our chapter we host General Body Meetings once a month where our Executive Board presents information to and fields questions from the general membership. The chapter also has an <%= link_to 'office in Engineering Hall', contact_path %> where our membership can be found eating meals and studying together almost everyday. Furthermore, our MemberSHPE director is in charge of planning socials. Some of the annual traditions are: a corn maze race, thanksgiving and christmas parties, paintball, and a barbeque. 
          </p>
        	<h3 class="text-center">Leadership Development</h3>
        	<p>
            SHPE|UIUC works to make its members strong and capable leaders. We start early with our new member roundtable where new members get exposed to planning and leading events from our internal vice president. As members gain more experience, we encourage them to take on more responsibilities  whether by choosing to lead a team of students on a project or taking on a position on the executive board. The chapter also has a PartnerSHPE program where mentors and mentees are partnered up based on interests. Furthermore, each year there are numerous workshops and a leadership retreat is held annually to help teach our members how to lead.
          </p>
        	<h3   class="text-center">Professional Development</h3>
        	<p>
            Networking and professional events are a staple of SHPE and its goal of fostering a strong STEM culture in the hispanic community. The annual SHPE National Conference is the main professional event in whcih our chapter participates. Every year we have as many students as possible  go to the National Conference where they speak and interview with companies and professionals. Our External Committee works hard to plan workshops, resume critiques, and mock interviews. These events are often run by professional representatives from companies that the External Committee brings in. The chapter also has connections and resources to assist members in getting internships, co-ops, job shadows, or research opportunities
          </p>
          <br/>
        </div>
    </div>
  </div>
</section>
