<% provide(:title, 'Contact Us') %>

<div class="container">
  <div class="row>">
    <div class="span4 offset4">

      <h1>Contact Us</h1>

      <hr/>
      <p>
        President -
        José "Joe" Martínez
       </p>
      <p>
       <a href="mailto:president@shpe-uiuc.org">President@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        External Vice President -
        Ayesha Mumtaz
      </p>
      <p>
        <a href="mailto:external@shpe-uiuc.org">External@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Internal Vice President -
        Ruben Robles
      </p>
      <p>
        <a href="mailto:internal@shpe-uiuc.org">Internal@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Treasurer -
        Ricky Gutierrez
      </p>
      <p>
        <a href="mailto:treasurer@shpe-uiuc.org">Treasurer@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Secretary -
        Isaac Carrasquillo
      </p>
      <p>
        <a href="mailto:secretary@shpe-uiuc.org">Secretary@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Publicity Chair -
        Raymond "Ray" Farias
      </p>
      <p>
        <a href="mailto:publicity@shpe-uiuc.org">Publicity@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Academic Affairs -
        Juan Pablo Llinas
      </p>
      <p>
        <a href="mailto:academic@shpe-uiuc.org">Academic@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Student Advisor -
        Gilberto Chaidez
      </p>
      <p>
        <a href="mailto:advisor@shpe-uiuc.org">Advisor@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Technical Chair -
        Edgar Uribe
      </p>
      <p>
        <a href="mailto:technical@shpe-uiuc.org">Technical@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Membership Chair -
        Hector Aaron Fuster
      </p>
      <p>
        <a href="mailto:membership@shpe-uiuc.org">Membership@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        Community Service Chair -
        Cesar "Vinny" Martinez
      </p>
      <p>
        <a href="mailto:service@shpe-uiuc.org">Service@shpe-uiuc.org</a>
      </p>
      <hr/>
      <p>
        High School Outreach Coordinator -
        Rene Velasco
      </p>
      <p>
        <a href="mailto:outreach@shpe-uiuc.org">Outreach@shpe-uiuc.org</a>
      </p>
      <hr/>
    </div>
  </div>

</div>