<% provide(:title, 'Contact Us') %>

<div class="container">
  <div class="row>">
    <div class="span4 offset4">

      <h1>Contact Us</h1>


      <p>
        President -
        José "Joe" Martínez
       </p>
      <p>
        President@shpe-uiuc.org
      </p>

      <p>
        External Vice President -
        Ayesha Mumtaz
      </p>
      <p>
        External@shpe-uiuc.org
      </p>

      <p>
        Internal Vice President -
        Ruben Robles
      </p>
      <p>
        Internal@shpe-uiuc.org
      </p>

      <p>
        Treasurer -
        Ricky Gutierrez
      </p>
      <p>
        Treasurer@shpe-uiuc.org
      </p>


      <p>
        Secretary -
        Isaac Carrasquillo
      </p>
      <p>
        Secretary@shpe-uiuc.org
      </p>

      <p>
        Publicity Chair -
        Raymond "Ray" Farias
      </p>
      <p>
        Publicity@shpe-uiuc.org
      </p>

      <p>
        Academic Affairs -
        Juan Pablo Llinas
      </p>
      <p>
        Academic@shpe-uiuc.org
      </p>

      <p>
        Student Advisor -
        Gilberto Chaidez
      </p>
      <p>
        Advisor@shpe-uiuc.org
      </p>


      <p>
        Technical Chair -
        Edgar Uribe
      </p>
      <p>
        Technical@shpe-uiuc.org
      </p>


      <p>
        Membership Chair -
        Hector Aaron Fuster
      </p>
      <p>
        Membership@shpe-uiuc.org
      </p>


      <p>
        Community Service Chair -
        Cesar "Vinny" Martinez
      </p>
      <p>
        Service@shpe-uiuc.org
      </p>

      <p>
        High School Outreach Coordinator -
        Rene Velasco
      </p>
      <p>
        Outreach@shpe-uiuc.org
      </p>

    </div>
  </div>

</div>