<% provide(:title, 'Contact Us') %>

<div class="container">
  <h1>Contact Us</h1>


  <p>
  President -
  José "Joe" Martínez
    <br/>
  President@shpe-uiuc.org
  </p>

  <p>
  External Vice President -
  Ayesha Mumtaz
    <br/>
  External@shpe-uiuc.org
  </p>

  <p>
  Internal Vice President -
  Ruben Robles
    <br/>
  Internal@shpe-uiuc.org
  </p>

  <p>
  Treasurer -
  Ricky Gutierrez
    <br/>
  Treasurer@shpe-uiuc.org
  </p>


  <p>
  Secretary -
  Isaac Carrasquillo
    <br/>
  Secretary@shpe-uiuc.org
  </p>

  <p>
  Publicity Chair -
  Raymond "Ray" Farias
    <br/>
  Publicity@shpe-uiuc.org
  </p>

  <p>
  Academic Affairs -
  Juan Pablo Llinas
    <br/>
  Academic@shpe-uiuc.org
  </p>

  <p>
  Student Advisor -
  Gilberto Chaidez
    <br/>
  Advisor@shpe-uiuc.org
  </p>


  <p>
  Technical Chair -
  Edgar Uribe
    <br/>
  Technical@shpe-uiuc.org
  </p>


  <p>
  Membership Chair -
  Hector Aaron Fuster
    <br/>
  Membership@shpe-uiuc.org
  </p>


  <p>
  Community Service Chair -
  Cesar "Vinny" Martinez
    <br/>
  Service@shpe-uiuc.org
  </p>

  <p>
  High School Outreach Coordinator -
  Rene Velasco
    <br/>
  Outreach@shpe-uiuc.org
  </p>



</div>