<% provide(:title, 'Contact Us') %>
<section>
<div class="container">
  <div class="row>">
    <div class="span4 offset4" style="text-align:center">
      <h1>Contact Us</h1>
      <p>
        <span style="font-weight:bold">Our Office is in Room 103A Engineering Hall</span>
      </p>
      <p>
        <span style="font-weight:bold">1308 W Green St, Urbana, IL 61801</span>
      </p>
      <hr/>
      <p>
        President - <%= EXEC_BOARD[:president] %>
      </p>
      <p>
        <a href="mailto:shpe.uiuc.president@gmail.com">shpe.uiuc.President@gmail.com</a>
      </p>
      <hr/>
      <p>
        External Vice President - <%= EXEC_BOARD[:external_vice_president] %>
      </p>
      <p>
        <i>(Main point of contact for sponsors)</i>
      </p>
      <p>
        <a href="mailto:shpe.uiuc.external@gmail.com">shpe.uiuc.External@gmail.com</a>
      </p>
      <hr/>
      <p>
        Internal Vice President - <%= EXEC_BOARD[:internal_vice_president] %>
      </p>
      <p>
        <i>(Main point of contact for new members)</i>
      </p>
      <p>
        <a href="mailto:shpe.uiuc.internal@gmail.com">shpe.uiuc.Internal@gmail.com</a>
      </p>
      <hr/>
      <p>
        Webmaster - <%= EXEC_BOARD[:lead_developer] %>
      </p>
      <p>
        <i>(Contact for issues with the website)</i>
      </p>
      <p>
        <a href="mailto:shpe.uiuc.webmaster@gmail.com">shpe.uiuc.Webmaster@gmail.com</a>
      </p>
      </hr>
      <br/>
      <br/>
    </div>
  </div>
</div>
</section>
