<section>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">How you can support SHPE UIUC</h3>
            <p>Ask Joe about more information on this. Discuss sponsorship levels and benefits of higher donations.</p>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">2013-2014 Planned Budget</h3>
            <p>Below is a listing of our planned events and how much we believe that they will cost to effectively execute. Help SHPE reach our goals by sponsoring one of these events!</p>
            <table class="table table-bordered">
              <tr>
                <th>Event Name</th>
                <th>Estimated Cost</th>
              </tr>
              <!-- we will use success when event sponsored, warning when in the process, error when not funded -->
              <tr class="success">
                <td>First Event</td>
                <td>$1000.00</td>
              </tr>
            </table>
            <h5>Fundraising Progress:</h5>
            <div class="progress progress-striped span8">
              <div class="bar bar-success" style="width: 25%;"></div>
            </div>
            <div class="sponsor-donate span4 offset2">
              <a href="#" class="btn btn-warning">Paypal</a>
              <a href="#" class="btn btn-primary">Stripe</a>
              <a href="#" class="btn btn-info">Bitcoin</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <p>
              Feel free to contact the <a href="mailto:treasurer@shpe-uiuc.org">Treasurer</a> if you have any questions or would like to notify him/her of any recent donation.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">2012-2013 Sponsors</h3>
            <p>Here is a listing of the 2012-2013 sponsors that helped SHPE succeed this year:</p>
            <div class="media white-accent no-margin-top">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="/img/shpe-logo-transparent.png" src="/img/shpe-logo-transparent.png" height="150px" width="200px">
              </a>
              <div class="media-body">
                <h3 class="media-heading">Company Name</h3>
                <p>Here we will write a short description of how they helped us reach closer to our goals.</p>
                <a href="#">Learn more about the company...</a>
              </div>
              <hr class="no-margin-bottom">
            </div>
            <div class="media white-accent no-margin-top">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="/img/shpe-logo-transparent.png" src="/img/shpe-logo-transparent.png" height="150px" width="200px">
              </a>
              <div class="media-body">
                <h3 class="media-heading">Company Name</h3>
                <p>Here we will write a short description of how they helped us reach closer to our goals.</p>
                <a href="#">Learn more about the company...</a>
              </div>
              <hr class="no-margin-bottom">
            </div>
            <div class="media white-accent no-margin-top">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="/img/shpe-logo-transparent.png" src="/img/shpe-logo-transparent.png" height="150px" width="200px">
              </a>
              <div class="media-body">
                <h3 class="media-heading">Company Name</h3>
                <p>Here we will write a short description of how they helped us reach closer to our goals.</p>
                <a href="#">Learn more about the company...</a>
              </div>
              <hr class="no-margin-bottom">
            </div>
          </div>
        </div>
      </div>
    </section>