<% provide(:title, 'Events') %>

<section>
<div class="container">
  <div class="row">
    <div class="span9 center">
      <h1>Events</h1>
      <iframe src="http://www.google.com/calendar/embed?src=f43nbgbtslbe9jou3920okesh0%40group.calendar.google.com&ctz=America/Chicago" style=" border-width:0 " width="1000" height="635" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
</section>
<br/>