<% provide(:title, 'Events') %>

<div class="container">
  <div class="row">
    <div class="span9 center">
      <h1>Events</h1>
      <iframe src="http://www.google.com/calendar/embed?src=f43nbgbtslbe9jou3920okesh0%40group.calendar.google.com&ctz=America/Chicago" style=" border-width:0 " width="1000" height="635" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
<section>
      <div class="container">
        <div class="row">
          <!-- we will embed the calendar here -->
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">Large Events</h3>
            <div class="media white-accent no-margin-top">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="/img/shpe-logo-transparent.png" src="/img/shpe-logo-transparent.png" height="150px" width="200px">
              </a>
              <div class="media-body">
                <h3 class="media-heading">Noche de Ciencias</h3>
                <p><i>Date: 10/2/2013</i></p>
                <p><i>Location: Centennial High School or Urbana High School</i></p>
                <p>Here we will have a description of the event.</p>
              </div>
              <hr class="no-margin-bottom">
            </div>
            <div class="media white-accent no-margin-top">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="/img/shpe-logo-transparent.png" src="/img/shpe-logo-transparent.png" height="150px" width="200px">
              </a>
              <div class="media-body">
                <h3 class="media-heading">SHPE National Conference</h3>
                <p><i>Date: 10/30/2013 - 11/3/2013</i></p>
                <p><i>Location: Indianapolis, Indiana</i></p>
                <p>The SHPE Conference is the major event for the Society of Hispanic Professional Engineers, Inc. and the largest technical and career conference for Hispanics in the country. This year it will be held in Indianapolis, Indiana. Prior registration is required. Discounted early registration is from July 1, 2013 to September 25, 2013 and normal registration from September 26, 2013 to October 2, 2013. <a href="http://conference.shpe.org/shpe2013/index.php/register.html">Click here for more information.</a></p>
              </div>
              <hr class="no-margin-bottom">
            </div>
            <div class="media white-accent no-margin-top">
              <a class="pull-left" href="#">
                <img class="media-object img-polaroid" data-src="/img/shpe-logo-transparent.png" src="/img/shpe-logo-transparent.png" height="150px" width="200px">
              </a>
              <div class="media-body">
                <h3 class="media-heading">Fall HSV</h3>
                <p><i>Date: ?</i></p>
                <p><i>Location: University of Illinois Urbana-Champaign Campus</i></p>
                <p>Here we will have a description of the event.</p>
              </div>
              <hr class="no-margin-bottom">
            </div>
          </div>
        </div>
      </div>
    </section>