<% provide(:title, 'FAQ') %>
<section>
<div class="container">
  <div class="well well-large">
    <ul class="nav nav-list">
        <li><a href="#faq1">What is SHPE and what does the organization do?</a></li>
        <li><a href="#faq2">How does SHPE benefit me?</a></li>
        <li><a href="#faq3">I am interested in learning about SHPE and joining the organization. What do I do?</a></li>
        <li><a href="#faq4">Do I have to pay to be a member?</a></li>
        <li><a href="#faq5">Do I need to commit to anything? How involved do I need to be?</a></li>
        <li><a href="#faq6">How do I earn a leadership position in SHPE?</a></li>
        <li><a href="#faq7">Can I be involved in other organizations in addition to SHPE?</a></li>
        <li><a href="#faq8">How large is the organization?</a></li>
      </ul>
  </div>
  <h3 id="faq1">What is SHPE and what does the organization do?</h3>
  <p>
    The Society of Hispanic Professional Engineers is a registered student organization that organizes events and opportunities for engineering students that come from a Hispanic background, although not necessary. Such events include corporate information sessions, academic workshops, national conferences, and much more! The organization provides a network of students and alumni that supports your academic and professional endeavors.
  </p><br/><hr/>
  <h3 id="faq2">How does SHPE benefit me?</h3>
  <p>
    By joining SHPE | UIUC, you become part of one of the largest Hispanic professional networks in the country. We provide countless resources for our members, both academically and professionally. With our multitude of company-sponsored events, conference opportunities, and expansive alumni network, we strive to advance every member’s college career. SHPE is also a fantastic way of meeting students that come from similar backgrounds and forming long-lasting connections.
  </p><br/><hr/>
  <h3 id="faq3">
    I am interested in learning about SHPE and joining the organization. What do I do?
  </h3>
  <p>
    We have a roundtable group that is comprised of new members in our organization! Roundtable meetings are held every Sunday at 5pm in Engineering Hall Room 106B(x).
  </p><br/><hr/>
  <h3 id="faq4">Do I have to pay to be a member?</h3>
  <p>
    We only ask that you pay a yearly chapter due of $5 to be considered a chapter member for the year. If you would like to participate in national events like SHPE National Conference, the national organization requires that you pay dues of $10.
  </p><br/><hr/>
  <h3 id="faq5">Do I need to commit to anything? How involved do I need to be?</h3>
  <p>
    If you are a new member, we encourage you to be a part of our roundtable group, which meets every Sunday at 5pm in Engineering Hall Room 106B(x). However, we do not strictly require that you commit your entire time to our organization-- you are free to spend as much time in our group as you would like! We have many opportunities ranging from community service to technical projects, all of which you can learn about on the website!
  </p><br/><hr/>
  <h3 id="faq6">How do I gain a leadership position in SHPE?</h3>
  <p>
    We have many opportunities for you to show your leadership within the group! If you are a new member, we provide leadership roles for every member in our roundtable group, allowing the group to function on its own. 
  </p>
  <p>
    To gain a role in a committee, we normally send out interest forms regarding available positions at the beginning of the year. Otherwise, our committee heads are always looking for individuals to step up in their responsibilities! 
  </p>
  <p>
    To gain a role in the executive board, we hold elections near the end of the school year to determine the proceeding year’s executive board.
  </p><br/><hr/>
  <h3 id="faq7">Can I be involved in other organizations in addition to SHPE?</h3>
  <p>
    Yes, we actually encourage you to explore all the opportunities the university provides for students. Many of our members are involved in other engineering organizations, performance groups, research teams, cultural organizations, and much more!
  </p><br/><hr/>
  <h3 id="faq8">How large is the organization?</h3>
  <p>
    Our chapter is comprised of more than 100 registered members, with more than half being active members that attend committee meetings and events regularly.
  </p>
  <br/>
</div> 
</section>