<% provide(:title, 'Our History') %>

<section>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
          <!-- <img alt="2012-2013 Executive board" src="/assets/eboard2012-2103.jpg"> -->
          <!-- <%= image_tag 'eboard2012-2013.jpg' %>-->
          <!--5 Pillars, centering to make it easier to follow-->
          <h3 class="text-center">Origin and Early Expansion</h3>
            <p>
              SThe Society of Hispanic Professional Engineers chapter at the University of Illinois at Urbana Champaign was established during the 1985-1986 academic year by David Comparan, Carlos Martinez, and Perfecto Perales. The chapter was initiated to help and meet the needs of Hispanic students in the fields of math, science, and engineering. The new chapter then made its way to the National Conference in Los Angeles, California, the origin of the first SHPE chapter. Since then, SHPE|UIUC has retained the same vision of bringing together underrepresented students who share the values of heritage, social responsibility, and the desire to improve the quality of all people through the use of science, math, engineering, and technology.<br/><br/>

During the 1993-1994 academic year, Ivan Favila led SHPE|UIUC to create the Engineering Open House team, High School Outreach programs, and the Freshmen Round Table. Years after, the High School Visitation and mentorship programs were started and aimed to develop the chapter’s members. Today, Ivan Favila continues to support SHPE|UIUC as assistant dean for the College of Engineering and director of the Morrill Engineering Program.<br/><br/><hr>
            </p>
            <h3 class="text-center">Awards</h3>
            <p>
            Throughout years of dedication towards the chapter, SHPE|UIUC has been honored with the following awards: 
            </p><br/>
            <table class="table table-striped table-bordered">
            	<tr>
            		<td>Academic Olympiad</td>
            		<td>Regional Chapter of the Year</td>
            		<td>EWeek Champs</td>
            		<td>Engineering Outstanding Society of the Year</td>
            		<td>National Academic Excellence Award</td>
            		<td>Relampago Award</td>
            	</tr>
            	<tr>
            		<td>2006</td>
            		<td>2009</td>
            		<td>2007</td>
            		<td>2005</td>
            		<td>2012</td>
            		<td>2014</td>
            	</tr>
            	<tr>
            		<td>2007</td>
            		<td>2014</td>
            		<td>2009</td>
            		<td></td>
            		<td></td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2008</td>
            		<td></td>
            		<td>2011</td>
            		<td></td>
            		<td></td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2012 (2nd)</td>
            		<td></td>
            		<td>2015</td>
            		<td></td>
            		<td></td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2013</td>
            		<td></td>
            		<td></td>
            		<td></td>
            		<td></td>
            		<td></td>
            	</tr>
            	<tr>
            		<td>2014(2nd)</td>
            		<td></td>
            		<td></td>
            		<td></td>
            		<td></td>
            		<td></td>
            	</tr>
            </table><hr>
            <h3 class="text-center">Regional and National Collaboration</h3>
            <p>
            In 2002, the chapter hosted the first Regional Leadership Development Conference-- this event hosted 575 students and professionals combined and acquired $100,000 in funds. The next

Regional Leadership Development Conference was hosted during the Spring of 2008. With professionalism growing rapidly within our society, the community outreach aspect was instilled. The SHPE|UIUC chapter developed the first ever Leadership Retreat in the Spring of 2010, held the first Noche de Ciencias programs, and laid the foundation for the Junior SHPE chapter that began Fall of 2010. In addition to these great programs, SHPE|UIUC has had a strong presence at the National Conferences and has been successful in the Academic Olympiad, Technical Paper, and Poster competitions. This coming Spring 2016, SHPE|UIUC is excited to work with SHPE National and SHPE Chicago for a new national development. 
			</p>
			<h3 class="text-center">Recent Developments</h3>
			<p>
			 Most recently, SHPE|UIUC has directed its efforts in greater community service and high school outreach. In 2013, led by SHPE alumnus Cesar Martinez, the chapter established a strong connection with A.O. Marshall Elementary School in the Chicago area with the Pen Pal program. The students and their parents now visit campus every spring to learn about STEM and opportunities in college. The chapter also collaborates with Engineering Council to participate in the Habitat for Humanity Collegiate Challenge every spring break, where volunteers dedicate their week off to construct a house for those in need. Along with its outreach and service, the chapter has been working closely with La Casa Cultura Latina to revisit its Hispanic roots and expand its network of university students.<br/><br/>

The society has had record high numbers in membership (117), High School Visitation participants (over 50 total for Spring and Fall), and National (50) and Regional (15) attendees were accomplished this past year. Through much of SHPE|UIUC's effort, the Hispanic retention rate has been the highest of all ethnicities within the college of engineering for the past year and a half at 78.9%.
			</p>
          </div>
        </div>
      </div>
    </section>
