<h1>General Chapter Meeting Information</h1>

<p>For outlines of past meetings, please take a look at The Minutes under the Members tab.</p>

<p>Executive Board meetings open to general members every Sunday from 3:00pm-4:00pm in Engineering Hall room 112.</p>

<p>Freshmen Round Table meetings every Sunday from 4:00pm-5:00pm in Engineering Hall room 106.</p>