<% provide(:title, 'MemberSHPE') %>
<section class="grey-accent">
  <div class="container">
    <div class="row">
      <div class="span6"><h1>MemberSHPE</h1></div>
      <div class="span6 text-right"><h4>Marissa Villafuerte<br/>shpe.uiuc.membership@gmail.com</h4></div>
    </div>
    <hr>
    <div class="row">
      <div class="span12">
        <div class="pull-left" style="margin-right: 30px;">
          <div id="committeeCarousel" class="carousel slide" style="width: 400px; margin-bottom:10px;">
            <ol class="carousel-indicators">
              <li data-target="#committeeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#committeeCarousel" data-slide-to="1"></li>
              <li data-target="#committeeCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%=image_tag("Chrysanthemum.jpg", alt: "Example Image")%>
              </div>
              <div class="item">
                <%=image_tag("Lighthouse.jpg", alt: "Example Image")%>
              </div>
              <div class="item">
                <%=image_tag("Desert.jpg", alt: "Example Image")%>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#committeeCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#committeeCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
	      <div class="text-center">
	        <h3><b>Meeting Time:</b> Tuesdays at 5:15pm</h3>
            <h3><b>Meeting Location:</b> 103 EH</h3>
            <hr/>
            <h4><b>Social Chair</b> - Joel Sandoval <br/> 
            <b>PartnerSHPE Chair</b> - Ray Muro</h4>
            <hr/>
	      </div>
				<p style="font-size: 16px">
				As Membershpe Director I am in charge of organizing social activities<br/>

				Activities in Membershpe include planning intramurals, parties, barbeques, and trips.<br/>

				We anticipate any conflicts and make sure preventative measures are in place; such as under age drinking, safety issues, and obeying all University policies.<br/>

				Head and attend all social events coordinated.<br/>

				Work with publicity to advertise events for increasing awareness of SHPE-socials on campus.<br/>

				In charge of maintaining a list of membership status, and responsible for heading the Membership Challenge.<br/>

				Responsible for the implementation of the PartnerSHPE mentoring program to ensure members have a mentor.<br/><br/>

        </p>
      </div>
    </div>
  </div>
</section>
