<section>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">General Chapter Meeting Information</h3>
            <p>
              Executive Board meetings open to general members every Sunday from 3:00pm-4:00pm in Engineering Hall room 112.
            </p>
            <p>
              Freshmen Round Table meetings every Sunday from 4:00pm-5:00pm in Engineering Hall room 106.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">Membership Details</h3>
            <p>You gain membership points for attending events. The person with the most points at the end of the year wins a prize.</p>
          </div>
        </div>
        
      </div>
    </section>