<% provide(:title, 'MemberSHPE Challenge') %>
<section class="grey-accent">
  <div class="container">
    <div class="row">
      <div class="span6"><h1>MemberSHPE Challenge</h1></div>
      <div class="span6 text-right"><h4>Sal Ramierz<br/><a href="mailto: shpe.uiuc.membership@gmail.com">shpe.uiuc.membership@gmail.com</a></h4></div>
    </div>
    <hr>
    <div class="row">
      <div class="span12">
        <div class="pull-left" style="margin-right: 30px;">
          <div id="committeeCarousel" class="carousel slide" style="width: 400px; margin-bottom:10px;">
            <ol class="carousel-indicators">
              <li data-target="#committeeCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#committeeCarousel" data-slide-to="1"></li>
              <li data-target="#committeeCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <%=image_tag("Chrysanthemum.jpg", alt: "Example Image")%>
              </div>
              <div class="item">
                <%=image_tag("Lighthouse.jpg", alt: "Example Image")%>
              </div>
              <div class="item">
                <%=image_tag("Desert.jpg", alt: "Example Image")%>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#committeeCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#committeeCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
          <div class="text-center">
            <h3>Fall 2015 - Spring 2016</h3>
            <h3>Academics | Professional Development | Community Service | Chapter Development</h3>
            <hr/> <!-- This is a divider thing -->
          </div>

<!--           <p style="font-size: 16px">
            <b>General</b><br/>
            Committee Membership (5 pts per meeting)
            <ul>
              <li>Attending weekly/biweekly meetings</li>
              <li> Committee leaders will submit member attendance at the end of the semester</li>
            </ul>
            Committee Leadership Position (10 pts per meeting)
            <ul>
              <li>Attending weekly/biweekly meetings</li>
              <li> Committee leaders will submit member attendance at the end of the semester</li>
            </ul>
            SHPE Member of the Month (15 pts)<br/>
          </p>

          <p style="font-size: 16px">
            <b>Academic - Please send evidence to shpe.uiuc.membership@gmail.com</b>
          </p>
          <p style="font-size: 16px">
            Grades
          </p>
          <p style="font-size: 16px">
            Final Grades  (50 pts for A, 35 pts for B)
            <ul>
              <li>Tests/Papers/ Chemistry Labs/MatSE Labs/Design Course Project/ Major Project (30 pts for A, 15 pts for B)
                <ul>
                  <li>If a class includes tests and quizzes, ONLY tests will be taken</li>
                  <li>NO Gen Chem Labs</li>
                  <li>NO Physics labs</li>
                </ul>
              </li>
              <li>Quizzes  (30 pts for A, 15 pts for B)
                <ul>
                  <li>For classes that ONLY give quizzes</li>
                </ul>
              </li>
            </ul>
          </p>
          <p style="font-size: 16px">
            Grainger Study Session Attendance (15 pts)
          </p>
          <p style="font-size: 16px">
            Eboard Office Hour Attendance (5 pts)
          </p> -->



<p style="font-size: 16px">

<br/><br/>

<b>General</b><br/>
Committee Membership (5 pts per meeting)<br/>
●     Attending weekly/biweekly meetings<br/>
●     Committee leaders will submit member attendance at the end of the semester<br/>
Committee Leadership Position (10 pts pts per meeting)<br/>
●     Attending weekly/biweekly meetings<br/>
●     Committee leaders will submit member attendance at the end of the semester<br/>
SHPE Member of the Month (15 pts)   <br/>

<br/>

<b>Academic - Please send evidence to shpe.uiuc.membership@gmail.com<br/>
Grades</b><br/>
Final Grades  (50 pts for A, 35 pts for B)<br/>
●     Tests/Papers/ Chemistry Labs/MatSE Labs/Design Course Project/ Major Project (30 pts for A, 15 pts for B)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     If a class includes tests and quizzes, ONLY tests will be taken<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     NO Gen Chem Labs<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     NO Physics labs<br/>
●     Quizzes  (30 pts for A, 15 pts for B)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     For classes that ONLY give quizzes<br/>
                    Academic Workshops (25 pts)<br/>
Grainger Study Session Attendance (15 pts)<br/>
Eboard Office Hour Attendance (5 pts)<br/>
                    <br/>
<b>Professional</b><br/>
Conference Attendance (40 pts)<br/>
GBMs (20 pts)<br/>
Professionalism Workshops (15 pts)<br/>
SHPE Website Profile/Resume (10 pts)<br/>

<br/>

<b>Community Service</b><br/>
Pen Pal Visit- Thanksgiving (15 pts)<br/>
Noche De Ciencias (15 pts per attendance)<br/>
Chores for Charity Participation ( 10 pts )<br/>
SHPE Jr. High School Attendance (10pts)<br/>
Super Smash Bros Tourney (5 pts)<br/>
Pen Pal (10 pts, one time)<br/>
Relay for life (10 pts) <br/>
Habitat for Humanity (20 pts)<br/>
Wesley Food Pantry (5 pts per visit)<br/>
HSV<br/>
●     Hosting (30 pts)<br/>
●     Attend Events (max 5 pts per day)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     1 pt per event <br/>

<br/>

<b>Chapter Development</b><br/>
PartnerSHPE involvement (one time- 15 pts)<br/>
Social Attendance (5 pts)<br/>
●     Welcome Week<br/>
●     Alumni Weekend<br/>
●     Corn Maze<br/>
●     Paintball<br/>
●     Movie Night<br/>
●     Ice Skating<br/>
●     etc<br/>
Fundraising<br/>
●     Volunteering<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     Bake sales/ Quad Sales(5 pts)<br/>
&nbsp;&nbsp;&nbsp;&nbsp;○     Assembly Hall (10 pts)

          </p>
      </div>
    </div>
  </div>
</section>