<% provide(:title, 'Members') %>
<section>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <hr/>
      <h2 class="text-center">Chapter Meeting Information</h2>
      <hr/>
      <b>Executive Board meetings:</b> open to general members every Sunday from 3:00pm-4:00pm in Engineering Hall room 112.<br/>
      <b>New Member Round Table meetings:</b> every Sunday from 5:00pm-6:00pm in Engineering Hall room 106.</h4>
      <br/><br/>
      Members are encouraged to stay active by joining one of our many committees. For a list of all committees, their heads, and meeting times see the <%= link_to "Meeting Times Page", committee_meeting_times_path %>
      <br/><br/>
      <hr/>
      <h2 class="text-center">Membership Details</h2>
      <hr/>
      <p>
      <b>All requirements towards membership will conform to the Board of Trustee's policies regarding non-discrimination on the basis of race, religion, sex, or national origin. Any member may be expelled from the organization if 51% the active membership votes for his/her expulsion.</b>
      <br/><br/>
      <i>The following is a summary of information found within the <%= link_to "Constitution", constitution_path %>.</i>
      <br/><br/>
      <b class="text-underline">Honorary Members</b>
      <br/>
      Honorary membership status is offered to a person by vote of the elected board or by two-thirds consent of active membership. The title can be offered only to people who attend another university or is an interested high school student. Honorary members are allowed to join committees, hold committee positions, and attend general body meetings.
      <br/><br/>
      <b class="text-underline">Members</b>
      <br/>
      Members are UIUC students who have interest in SHPE. Members must maintain good academic standing. Members are allowed to join committees, hold committee positions, and attend general body meetings.
      <br/><br/>
      <b class="text-underline">Full-Members</b>
      <br/>
      Full membership will be limited to UIUCs full-time students (graduate or undergraduate). A full-member is a person who has paid chapter dues, has declared a major and must maintain good academic standing. Full members are allowed to join committees, hold committee positions, attend general body meetings, and are allowed to win chapter prizes.
      <br/><br/>
      <b class="text-underline">Active-Members</b>
      <br/>
      Active-Members are full-members who have paid national dues and have attended at least 5 chapter events, no more than 3 of which can be socials. Active-members have all the rights full-member has, may vote for and run for elected positions, and can also receive reimbursements. 
      <br/><br/>
      <b class="text-underline">Alumni</b>
      <br/>
      Alumni are people who have at some point held active-membership within the chapter for several semesters and have a degree from UIUC. Active members are allowed to attend any chapter events an active-member can and may receive reimbursements.
      <br/><br/>
      </p>
      <br/>
      <hr/>
      <h2 class="text-center">Membership Competition</h2>
      <hr/>
      <p>
      Full-members and active-members may compete in a competition within the chapter to see who is the most active. For information on the points and prizes see the <%= link_to "MemberSHPE page", membershpe_path %>, whose committee hosts the competition.
      </p>
      <br/>
    </div>
  </div>
</div>
</section>