<section>
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">General Chapter Meeting Information</h3>
            <p>
              Executive Board meetings open to general members every Sunday from 3:00pm-4:00pm in Engineering Hall room 112.
            </p>
            <p>
              Freshmen Round Table meetings every Sunday from 4:00pm-5:00pm in Engineering Hall room 106.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">Membership Details</h3>
            <p>Description of how membership points work and how different levels gets you different perks. The prize for being member of the month and why you would want to be member of the month etc.</p>
          </div>
        </div>
        <div class="row-fluid">
          <ul class="thumbnails">
            <li class="span3 offset1">
              <div class="thumbnail">
                <img src="holder.js/300x200" alt="bronze badge">
                <div class="caption">
                  <h3>Bronze Level</h3>
                  <p><i># Membership Points</i></p>
                  <p>Description of perks of being a bronze level member</p>
                </div>
              </div>
            </li>
            <li class="span4">
              <div class="thumbnail">
                <img src="holder.js/300x200" alt="gold badge">
                <div class="caption">
                  <h3>Gold Level</h3>
                  <p><i># Membership Points</i></p>
                  <p>Description of perks of being a gold level member etc.</p>
                </div>
              </div>
            </li>
            <li class="span3">
              <div class="thumbnail">
                <img src="holder.js/300x200" alt="silver badge">
                <div class="caption">
                  <h3>Silver Level</h3>
                  <p><i># Membership Points</i></p>
                  <p>Description of perks of being a silver level member</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">Wall of Fame</h3>
            <p>Here we congratulate the dedicated workers that achieved member of the month!</p>
            <a href="#">Use a link for the sake of space preservation or a jquery slider</a>
          </div>
        </div>
        <div class="row">
          <div class="span8 offset2">
            <h3 class="text-center">Alumni</h3>
            <h4>Professional Mentorship Program</h4>
            <p>Had an idea for alumni signing up to mentor current shpe students professionally.</p>
            <button class="btn btn-primary">Mentor Signup</button>
            <hr>
            <h4>Alumni Database</h4>
            <img src="holder.js/300x200" alt="networking picture">
            <p>Description of how this alumni network is useful and how other alumni can get in contact with each other</p>
          </div>
        </div>
      </div>
    </section>