<% provide(:title, 'Mission and Vision') %>

<h1>Mission Statement</h1>

<p>
  SHPE changes lives by empowering the Hispanic community to realize their
  fullest potential and impacts the world through STEM awareness, access, support and development. </p>

<h1>Vision</h1>

<p>
SHPE's vision is a world where Hispanics are highly valued and influential
  as the leading innovators, scientists, mathematicians and engineers.
</p>

<%= image_tag 'eboard2012-2013.jpg' %>