<% provide(:title, 'Newsletters') %>
<section>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <h1> November 5th, 2015 </h2>
<table class="newsletter" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
    <td valign="top" align="center" id="top" class="outer" bgcolor="#3d4852" background="http://i.imgur.com/ESFhskW.gif">
        <table class="texttopbottom" cellpadding="0" cellspacing="0" align="center" width="600">
            <tr>
                <td valign="top"><img src="http://i.imgur.com/61yE7tB.gif" width="1" height="8" alt=""></td>
            </tr>
            <!--  
                COMMENTED OUT TILL THE NEWSLETTER CAN BE HOSTED ON THE WEBSITE AGAIN
            
            <tr>
                <td align="center" valign="top" colspan="3" style="font-family: Verdana, Arial, sans-serif; color: #8d9ca4;font-size: 10px;margin: 0;">
                    <p>You are receiving this newsletter because you have signed up for the SHPE newsletter.</p>
                    <p>Having trouble reading this email? <a href="http://shpe-uiuc.org/newsletter.html">View it in your browser</a>.</p>
                </td>
            </tr>
            --> 
            <tr>
                <td style="background: url(http://i.imgur.com/61yE7tB.gif) no-repeat;"><img src="http://i.imgur.com/61yE7tB.gif" width="1" height="12" alt=""></td>
            </tr>
        </table>
        <img src="http://i.imgur.com/QfJtJus.jpg" title="Hosted by imgur.com" alt="" width="570" height="269">
        <table cellpadding="0" cellspacing="0" align="center" width="600" style="background: url(http://i.imgur.com/6w8hFb6.png) repeat-y;">    
            <tr>
                <td valign="top" width="15">&nbsp;</td>
                <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"></td>
                <td rowspan="3" valign="top" align="left"></td>
            </tr>
            <tr>
            </tr>
            <tr>

            </tr><tr>
                <td colspan="7" align="left">
                    <table cellpadding="0" cellspacing="0" width="600" align="left">
                        <tr>
                            <td colspan="2"><img src="http://i.imgur.com/isuMl3k.gif" width="600" height="14" alt=""></td>
                        </tr>
                        <tr>
                            <td valign="top" width="360">

                                <table cellpadding="0" cellspacing="0" width="360" class="whitecol">
                                    





                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry1"></a>Mandatory Conference Meeting</h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Tuesday, October 22nd<br/>
5pm-5:30pm<br/>
EH106B8<br/><br/>

This meeting will be about conference conduct and other necessary information and if you're going to conference you MUST attend. If you have a serious conflict you must contact Joe Martinez at
<a class = "orangeLink" href="mailto:president@shpe-uiuc.org">
president@shpe-uiuc.org
</a>    
before we leave for conference. 
                                        </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->









                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry2">SHPE Conference Bus Schedule</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
For those who are attending the National Conference, the tentative bus schedule is as follows:

Wednesday 10/30 departs at 12:00 p.m from the Illini Union
Thursday 10/31 departs at 6:00 a.m from the Illini Union
Sunday 11/3 departs at 11:30 a.m from the Convention Center
Gilberto Chaidez will be the contact point for Wednesday's bus and Juan Pablo Llinas will be for Thursday's bus. 
If you would rather drive or are planning to go with someone who is driving please email Gilberto (advisor@shpe-uiuc.org) ASAP
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                
                                

                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry3"></a>Alcatel-Lucent GBM</h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Tuesday, October 22nd<br/>
5:30-7pm<br/>
Siebel 1105<br/><br/>

This GBM will be held right after the mandatory conference meeting and will be a mock career fair. Bring resumes. Food will be served.  
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->


                                    
                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry4">Lunch With President</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Remember to be the first person to email Joe at 
<a class = "orangeLink" href="mailto:president@shpe-uiuc.org">
president@shpe-uiuc.org
</a>
with a preferred day and time to meet up for a free meal. You can only win one time. 
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                    
                                    
                                    

                                    
                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry5">Capital One Case Competition</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Here is a flyer for Capital One's Case Competition which is open to Freshmen, Sophomores, and Juniors. 
The deadline to apply (for each individual team comprised of 3 members) is October 25th.<br/><br/>
<a class = "orangeLink" href= "http://gallery.mailchimp.com/d159baac801e8be7862676536/files/2013_Case_Competition_McLean.pdf">
Flyer</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                    
                                    
                                    

                                    
                                
                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry6">New Office Policy</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
In line with the Eboard&apos;s goal to clean up the office, there is a new policy. Every Sunday at 12pm anything on the office desks or tables that cannot be claimed by someone currently sitting in the room is considered trash and may be thrown away. This is policy is meant to allow members to properly clean up the office. 
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                    

                                    
                                    
                                    

                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry7">Seeking Graduate Ambassador</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Any graduate student interested in holding the position of "graduate ambassador" please email Joe Martinez at 
<a class = "orangeLink" href="mailto:president@shpe-uiuc.org">
president@shpe-uiuc.org
</a>. The graduate ambassador will work with the president and with the academic chair to bring graduate school information to all members and help recruit graduate membership.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->




                                </table>
                                
                                

                                
                                
                            </td>
                            <td valign="top" width="240">
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>In this issue</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            <table cellpadding="0" cellspacing="0" width="175" class="thisissue">

                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry1">Mandatory Conference Meeting</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry2">SHPE Conference Bus Schedule</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry3">Alcatel-Lucent GBM</a></td>
                                                </tr>
                                                <!-- End-->

                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry4">Lunch With President</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry5">Capitol One Case Compeition</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry6">New Office Policy</a></td>
                                                </tr>
                                                <!-- End-->
                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry7">Seeking Graduate Ambassador</a></td>
                                                </tr>
                                                <!-- End-->

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>In other news</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                                <h3>Interested in Web Development?</h3>
                                                <p>Come join the SHPE web team!  No experience necessary. Just email the administrator for more details. <a href="mailto:publicity@shpe-uiuc.org">publicity@shpe-uiuc.org</a></p>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>Forward this email</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            
                                            <p>Do you know someone who might be interested in receiving this monthly newsletter?</p>
                                            <p><img class="inline" src="http://i.imgur.com/CJQScNS.png" alt="" width="11" height="12"> 
                                                Forward this email</p>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>Contact Us</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            
                                            <p>103A Engineering Hall 1308 West Green Street,<br>
                                            Urbana, IL 61801<br>
                                            (217) 244-8899
                                            </p>
<!--                                                <p><a href=""><img class="inline" src="http://shpe-uiuc.org/images/newsletter/email_orange.png" alt="" width="17" height="8" /> email us</a></p>-->
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>Unsubscribe</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            <p>You're receiving this newsletter because you signed up for the SHPE Newsletter. If you no longer wish to receive this
                                            news letter click: <a href="*|UNSUB|*">Remove me from this list</a>.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img src="http://i.imgur.com/isuMl3k.gif" width="600" height="10" alt=""></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br><br><br>
    </td>
</tr>
</table>


<h1> November 11th, 2015 </h2>
<table class="newsletter" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
    <td valign="top" align="center" id="top" class="outer" bgcolor="#3d4852" background="http://i.imgur.com/ESFhskW.gif">
        <table class="texttopbottom" cellpadding="0" cellspacing="0" align="center" width="600">
            <tr>
                <td valign="top"><img src="http://i.imgur.com/61yE7tB.gif" width="1" height="8" alt=""></td>
            </tr>
            <!--  
                COMMENTED OUT TILL THE NEWSLETTER CAN BE HOSTED ON THE WEBSITE AGAIN
            
            <tr>
                <td align="center" valign="top" colspan="3" style="font-family: Verdana, Arial, sans-serif; color: #8d9ca4;font-size: 10px;margin: 0;">
                    <p>You are receiving this newsletter because you have signed up for the SHPE newsletter.</p>
                    <p>Having trouble reading this email? <a href="http://shpe-uiuc.org/newsletter.html">View it in your browser</a>.</p>
                </td>
            </tr>
            --> 
            <tr>
                <td style="background: url(http://i.imgur.com/61yE7tB.gif) no-repeat;"><img src="http://i.imgur.com/61yE7tB.gif" width="1" height="12" alt=""></td>
            </tr>
        </table>
        <img src="http://i.imgur.com/QfJtJus.jpg" title="Hosted by imgur.com" alt="" width="570" height="269">
        <table cellpadding="0" cellspacing="0" align="center" width="600" style="background: url(http://i.imgur.com/6w8hFb6.png) repeat-y;">    
            <tr>
                <td valign="top" width="15">&nbsp;</td>
                <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"></td>
                <td rowspan="3" valign="top" align="left"></td>
            </tr>
            <tr>
            </tr>
            <tr>

            </tr><tr>
                <td colspan="7" align="left">
                    <table cellpadding="0" cellspacing="0" width="600" align="left">
                        <tr>
                            <td colspan="2"><img src="http://i.imgur.com/isuMl3k.gif" width="600" height="14" alt=""></td>
                        </tr>
                        <tr>
                            <td valign="top" width="360">

                                <table cellpadding="0" cellspacing="0" width="360" class="whitecol">
                                    





                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry1"></a>Mandatory Conference Meeting</h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Tuesday, October 22nd<br/>
5pm-5:30pm<br/>
EH106B8<br/><br/>

This meeting will be about conference conduct and other necessary information and if you're going to conference you MUST attend. If you have a serious conflict you must contact Joe Martinez at
<a class = "orangeLink" href="mailto:president@shpe-uiuc.org">
president@shpe-uiuc.org
</a>    
before we leave for conference. 
                                        </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->









                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry2">SHPE Conference Bus Schedule</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
For those who are attending the National Conference, the tentative bus schedule is as follows:

Wednesday 10/30 departs at 12:00 p.m from the Illini Union
Thursday 10/31 departs at 6:00 a.m from the Illini Union
Sunday 11/3 departs at 11:30 a.m from the Convention Center
Gilberto Chaidez will be the contact point for Wednesday's bus and Juan Pablo Llinas will be for Thursday's bus. 
If you would rather drive or are planning to go with someone who is driving please email Gilberto (advisor@shpe-uiuc.org) ASAP
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                
                                

                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry3"></a>Alcatel-Lucent GBM</h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Tuesday, October 22nd<br/>
5:30-7pm<br/>
Siebel 1105<br/><br/>

This GBM will be held right after the mandatory conference meeting and will be a mock career fair. Bring resumes. Food will be served.  
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->


                                    
                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry4">Lunch With President</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Remember to be the first person to email Joe at 
<a class = "orangeLink" href="mailto:president@shpe-uiuc.org">
president@shpe-uiuc.org
</a>
with a preferred day and time to meet up for a free meal. You can only win one time. 
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                    
                                    
                                    

                                    
                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry5">Capital One Case Competition</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Here is a flyer for Capital One's Case Competition which is open to Freshmen, Sophomores, and Juniors. 
The deadline to apply (for each individual team comprised of 3 members) is October 25th.<br/><br/>
<a class = "orangeLink" href= "http://gallery.mailchimp.com/d159baac801e8be7862676536/files/2013_Case_Competition_McLean.pdf">
Flyer</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                    
                                    
                                    

                                    
                                
                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry6">New Office Policy</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
In line with the Eboard&apos;s goal to clean up the office, there is a new policy. Every Sunday at 12pm anything on the office desks or tables that cannot be claimed by someone currently sitting in the room is considered trash and may be thrown away. This is policy is meant to allow members to properly clean up the office. 
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->
                                    

                                    
                                    
                                    

                                    <!-- Begin New Article -->
                                    <tr>
                                        <td valign="top" width="15" rowspan="3"><img src="http://i.imgur.com/bpwBWXp.png" alt="" width="15" height="56"></td>
                                        <td bgcolor="#eaf4f7" valign="top" width="21" rowspan="3"><img src="http://i.imgur.com/8RemqCL.png" alt="" width="21" height="56"></td>
                                        <td bgcolor="#eaf4f7"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="1" height="20"></td>
                                        <td bgcolor="#eaf4f7" rowspan="4"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="5" height="1"></td>
                                    </tr>
                                    <tr>                                            
                                        <td bgcolor="#eaf4f7" valign="top" width="319"><h2><a name="entry7">Seeking Graduate Ambassador</a></h2></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#eaf4f7" valign="top">
                                            <p>
Any graduate student interested in holding the position of "graduate ambassador" please email Joe Martinez at 
<a class = "orangeLink" href="mailto:president@shpe-uiuc.org">
president@shpe-uiuc.org
</a>. The graduate ambassador will work with the president and with the academic chair to bring graduate school information to all members and help recruit graduate membership.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" width="15">&nbsp;</td>
                                        <td bgcolor="#eaf4f7" colspan="2" valign="top" align="right" class="backtotop"><a href="#top">Back to top</a></td>
                                    </tr>
                                    <!-- End-->




                                </table>
                                
                                

                                
                                
                            </td>
                            <td valign="top" width="240">
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>In this issue</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            <table cellpadding="0" cellspacing="0" width="175" class="thisissue">

                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry1">Mandatory Conference Meeting</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry2">SHPE Conference Bus Schedule</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry3">Alcatel-Lucent GBM</a></td>
                                                </tr>
                                                <!-- End-->

                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry4">Lunch With President</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry5">Capitol One Case Compeition</a></td>
                                                </tr>
                                                <!-- End-->
                                                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry6">New Office Policy</a></td>
                                                </tr>
                                                <!-- End-->
                
                                                <!--Start-->
                                                <tr>
                                                    <td style="padding-bottom:10px" width="11" valign="top"><img src="http://i.imgur.com/4NG0tD7.png" alt="" width="11" height="12"></td>
                                                    <td width="159" valign="top"><a href="#entry7">Seeking Graduate Ambassador</a></td>
                                                </tr>
                                                <!-- End-->

                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>In other news</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                                <h3>Interested in Web Development?</h3>
                                                <p>Come join the SHPE web team!  No experience necessary. Just email the administrator for more details. <a href="mailto:publicity@shpe-uiuc.org">publicity@shpe-uiuc.org</a></p>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>Forward this email</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            
                                            <p>Do you know someone who might be interested in receiving this monthly newsletter?</p>
                                            <p><img class="inline" src="http://i.imgur.com/CJQScNS.png" alt="" width="11" height="12"> 
                                                Forward this email</p>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>Contact Us</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            
                                            <p>103A Engineering Hall 1308 West Green Street,<br>
                                            Urbana, IL 61801<br>
                                            (217) 244-8899
                                            </p>
<!--                                                <p><a href=""><img class="inline" src="http://shpe-uiuc.org/images/newsletter/email_orange.png" alt="" width="17" height="8" /> email us</a></p>-->
                                        </td>
                                    </tr>
                                </table>
                                
                                <table cellpadding="0" cellspacing="0" width="240" class="bluecol">
                                    <tr>
                                        <td valign="top" width="15" rowspan="2"><img src="http://i.imgur.com/iSfTr1g.png" alt="" width="15" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="top" width="20" rowspan="2"><img src="http://i.imgur.com/fmwPhDw.png" alt="" width="20" height="36"></td>
                                        <td bgcolor="#d3e7eb" valign="bottom" width="175"><h2>Unsubscribe</h2></td>
                                        <td bgcolor="#d3e7eb" rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                        <td rowspan="2"><img src="http://i.imgur.com/61yE7tB.gif" alt="" width="15" height="1"></td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#d3e7eb" valign="top">
                                            <p>You're receiving this newsletter because you signed up for the SHPE Newsletter. If you no longer wish to receive this
                                            news letter click: <a href="*|UNSUB|*">Remove me from this list</a>.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><img src="http://i.imgur.com/isuMl3k.gif" width="600" height="10" alt=""></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br><br><br>
    </td>
</tr>
</table>




</div>
</div>
</div>
<section>
