<% provide(:title, 'Resources') %>

<section>
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <hr/>
      <h2 class="text-center">Resources</h2>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">SHPE Study Hours</h3>
      <div class="resource-img-center">
        <%= image_tag 'Grainger_Library.jpg', class:"resource-img" %>
      </div>
      <p class="study-hours">
        Location: <a href="https://www.google.com/maps/preview#!q=Grainger+Library%2C+Urbana%2C+IL&data=!1m4!1m3!1d281!2d-88.2269041!3d40.1124343!2m1!6s0x880cd7401f184d61%3A0xcf6a02391517e857!4m15!2m14!1m13!1s0x880cd76a968358b5%3A0xae7c7d5e32439ec2!3m8!1m3!1d346!2d-88.2268468!3d40.1124397!3m2!1i1433!2i697!4f13.1!4m2!3d40.1125!4d-88.226917">4th Floor Grainger Library Room #404</a>
        <br/><br/>
        The SHPE Study room is a room at Grainger that is reserved for SHPE members  from 6pm to 9pm on Sunday.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">
        <a href="http://publish.illinois.edu/engineering-care/">Center for Academic Resources (CARE) Services</a>
      </h3>
      <div class="resource-img-center">
        <%= image_tag 'care-services.JPG', class: "resource-img"%>
      </div>
      <p class="CARE">Location: <a href="https://www.google.com/maps/preview#!q=Grainger+Library%2C+Urbana%2C+IL&data=!1m4!1m3!1d281!2d-88.2269691!3d40.1124294!2m1!6s0x880cd7401f184d61%3A0xcf6a02391517e857!4m15!2m14!1m13!1s0x880cd76a968358b5%3A0xae7c7d5e32439ec2!3m8!1m3!1d346!2d-88.2268468!3d40.1124397!3m2!1i1433!2i697!4f13.1!4m2!3d40.1125!4d-88.226917">4th Floor Grainger Library</a></p>
      <p class="CARE">
        The Center for Academic Resources in Engineering (CARE) enhances the learning experience for all undergraduate engineering students through academic support, enhancing collaborative learning opportunities, and providing positive influence through peer mentoring.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">
        <a href="http://www.omsa.illinois.edu/">Office of Minority Student Affairs (OMSA) Services</a>
      </h3>
      <div class="resource-img-center">
        <%= image_tag 'omsa-services.jpg', class: "resource-img" %>
      </div>
      <p>Location: <a href="https://www.google.com/maps/preview#!q=Turner+Student+Services+Bldg&data=!1m4!1m3!1d140!2d-88.2299855!3d40.1093671!2m1!6s0x880cd73f1a6d6e8f%3A0xcf6a023952d07db0!4m14!2m13!1m12!1s0x880cd73f1a3e4711%3A0x4f9570122922d7c8!3m8!1m3!1d140!2d-88.2299191!3d40.1093573!3m2!1i1242!2i565!4f13.1!5e6!7b1">130 Student Services Building, MC-306, 610 E. John St., Champaign, IL 61820</a></p>
      <p>
        The Office of Minority Student Affairs provides leadership in developing, implementing, coordinating and operating student support services, events and activities that are designed to assist underrepresented students' personal development, academic achievement and graduation. The OMSA is one of the longest-running and most comprehensive support programs in the country.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">
        <a href="http://mep.engineering.illinois.edu/student-resources/">Morrill Engineering Program (MEP)</a>
      </h3>
      <p>Location: <a href="https://www.google.com/maps/place/Engineering+Hall,+1308+W+Green+St,+Urbana,+IL+61801/@40.1108895,-88.2291568,17z/data=!3m1!4b1!4m2!3m1!1s0x880cd73ffb8e733b:0x550a408e89cd806">206 and 210 Engineering Hall, 1308 West Green Street, Urbana, Illinois 61801</a></p>
      <p>
        The Morrill Engineering Program works to empower African American, Hispanic, and Native American engineering students, support their success as scholars, and leverage a community of students, staff, and alumni to achieve excellence in engineering. The MEP community works to enhance the undergraduate experience through academic support, financial assistance, scholarships, and work experience. MEP offers mentoring and tutoring and helps students to earn scholarships and research opportunities.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">
        <a href="http://www.gograd.org/women-and-masters-degrees/">GoGrad</a>
      </h3>
      <div class="resource-img-center">
      </div>
      <p>
        GoGrad's mission is to help students achieve their academic and professional goals. They provide an online platform where students can investigate graduate studies. On their site you can find information on financial-aid, scholarships, and graduate programs and admissions. They also provide a wealth of data and information so that you can make an informed decision on whether or not grad school is for you. There are also specific sections geared towards women and veterans. 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">Additional Resources</h3>
      <h5>Scholarships</h5>
      <ul>
        <li>
          <p>
            <a href="http://www.shpefoundation.org/">SHPE Foundation</a> - Programs and information for anything SHPE
          </p>
        </li>
        <li>
          <p>
            <a href="http://www.hispanicfund.org/">Hispanic Fund</a> - Promoter of Hispanic Higher Education Support and Assistance
          </p>
        </li>
        <li>
          <p>
            <a href="http://www.greatmindsinstem.org/college/henaac-scholarship-program">HENNAC Scholars</a> - Recognition of underserved scholars and provide scholarship programs
          </p>
        </li>
      </ul>
      <h5>Careers</h5>
      <ul>
        <li>
          <p>
            <a href="http://www.aftercollege.com/group/354032134/">After College</a> - An indispensable tool for SHPE employment
          </p>
        </li>
        <li>
          <p>
            <a href="http://www.careercenter.uiuc.edu/interestgroups/default.asp">Career Center</a> - Professional services including resume tuning, mock interviews and more
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <h3 class="text-center">Additional Help</h3>
      <p>
        Can't find what you're looking for? Send a message to the <a href="mailto:advisor@shpe-uiuc.org">student advisor</a> and he/she will get back to you as soon as possible.
      </p>
    </div>
  </div>
</div>
</section>