<% provide(:title, 'Resources') %>

<div class="container">
  <div class="row">
    <div class="span9">
      <h1>Resources</h1>
      <ul class="nav nav-tabs">
        <li><a href="#career" data-toggle="tab">Careers</a></li>
        <li><a href="#scholarships" data-toggle="tab">Scholarships</a></li>
        <li><a href="#minutes" data-toggle="tab">Minutes</a></li>


      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="career">

        </div>
        <div class="tab-pane fade" id="scholarships">
        </div>
        <div class="tab-pane fade" id="minutes">
        </div>

      </div>
    </div>
  </div>
</div>
