<% provide(:title, 'Sponsor') %>

<section>
  <div class="container">
    <div class="row">
    <h1>Sponsorship Info</h1>
    <hr/>
    <div id="sponsor_container">
      <h3 id="h3sponsor">Detailed Sponsorship Information</h3>
       <div class="tab-pane video-container" id="documentary">
      <iframe id="iframe" src="https://onedrive.live.com/embed?cid=B824CC6A08EC90D5&resid=B824CC6A08EC90D5%21107&authkey=AOcyiGf4nk78zkU&em=2" width="600" height="488" frameborder="0" scrolling="no"></iframe>
      </div>
      <h3 id="h3sponsor">How SHPE Changes Lives</h3>
       <div class="tab-pane video-container" id="documentary">
      <iframe id="iframe" width="640" height="360" src="//www.youtube.com/embed/8EcGotEoyco?autoplay=0&amp;hd=1&amp;wmode=opaque" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    </div>
  </div>
</section>