<% provide(:title, 'Sponsor') %>

<section>
  <div class="container">
    <div class="row">
    <h1>Sponsorship Info</h1>
    <hr/>
    <div id="sponsor_container">

      <h3 id="h3sponsor">How SHPE Changes Lives</h3>
       <div class="tab-pane video-container" id="documentary">
      <iframe id="iframe" width="640" height="360" src="//www.youtube.com/embed/6XnfUOeNKLQ?autoplay=0&amp;hd=1&amp;wmode=opaque" frameborder="0" allowfullscreen></iframe>
      </div>

      <h3 id="h3sponsor">Detailed Sponsorship Information</h3>
      <div class="tab-pane video-container" id="documentary">
        <embed src="<%= asset_path('sponsorship_info.pdf') %>" width="750" height="1000">
      </div>
      <form id="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ENHSKLYKFY4CW">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
    </div>
  </div>
</section>