<% provide(:title, 'Outreach Committee') %>
  <section class="committee-page">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h1>Technical Committee</h1>
        </div>
        <div class="span6 text-right">
          <h4>
            <%= EXEC_BOARD[:technical_chair] %></br>
            <a href="mailto:shpe.uiuc.technicalchair@gmail.com">shpe.uiuc.technicalchair@gmail.com</a>
          </h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span12">
          <div class="pull-left" style="margin-right: 20px;">
            <%=image_tag("logos/committees/technical.jpg", size:"400x400", alt: "Technical Logo")%>
          </div>
          <div class="text-center">
            <h3><strong>Meeting Time:</strong> Sundays at 1:00pm</h3>
            <h3><strong>Meeting Location:</strong> ECEB Open Lab</h3>
            <hr/>
          </div>
          <p>
            SHPE's Technical committee was founded with the purpose of exposing Engineers to real world problems and projects. Each year SHPE's Technical committee takes on on multiple projects ranging from robots for the Jerry Sanders Design Competition to smaller Engineering Open House exhibits. The technical Committe is where a lot of students get their first taste of hands on engineering that will serve them well in their careers.
           </p>
           <p>
            The Technical Committee is currently working on 4 projects this year. The projects will be displayed in the Engineering Open House, EOH, at the University of Illinois. During EOH, the projects will be displayed in the Mechanical Engineering Building.
           </p>
           <p>
            The first project is that of a mechanically programmable robot, Heron Robot, which was inspired by Heron of Alexandria. We have already built the first prototype in order to show the proof of concept. The first robot was mainly built with wood. There were some components that were made out of HIPS plastic and acrylic. The parts were manufactured mainly by using the wood shop equipment - miter saw, table saw, and drill press - in the Mechanical Engineering Laboratory. We are currently working on fixing a few issues that the first prototype brought to light. The first problem is the traction between the wheels and the floor is not high enough to do advanced movements, such as turning the robot with both the wheels turning in different directions. Another issue is with manufacturing the robot with tighter tolerances. The next Heron Robot will be made with mainly HIPS Plastic and acrylic. The parts will be manufactured, by using the 3D printers and the laser cutters, in the Mechanical Engineering Laboratory. This will ensure that the parts have smaller tolerances. Metal shafts, shaft holders, and bearings have been bought in order to improve the frictional losses of the previous Heron Robot.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <table class="table table-bordered condensed" id="webdev_developers_table">
            <caption id="webdev_developers_caption">
              <h3>Other Representatives</h3>
            </caption>
            <tbody>
              <tr>
                <td><strong>Head of Mechanical Design:</strong> Michael Gonzales</td>
                <td><strong>Head of Control Systems:</strong> Felipe Fregoso</td>
                <td><strong>Head of Research:</strong> Edwin Guzman</td>
              </tr>
              <tr>
                <td><strong>EOH Manager I:</strong> Kevin Zhang</td>
                <td><strong>EOH Manager II:</strong> Edward Vizcaino</td>                
                <td><strong>Safety Officer:</strong> Michelle Suimi Jim</td>
              </tr>
              <tr>
                <td colspan=3 class="text-center ">
                  <strong>Roundtable Technical Committee</strong>
                </td>
              </tr>
              <tr>
                <td><strong>Head Programmer:</strong> Alex Uruchima</td>
                <td><strong>Head Designer:</strong> Eric Sandoval</td>
                <td><strong>Head of Logistics:</strong> Edwin Guzman</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
