<% provide(:title, 'Web Dev Committee') %>
<section class="grey-accent">
  <div class="container">
    <div class="row">
      		<div class="span6"><h1>Web Dev Committee</h1></div>
      		<div class="span6 text-right"><h4>Raymond Farias</br>
        		<a href="mailto:shpe.uiuc.webmaster@gmail.com">shpe.uiuc.Webmaster@gmail.com</a>
      		</h4>
		</div>
    </div>

    <hr>
   	 <div class="row">
      		<div class="span12">
       		 <div class="pull-left" style="margin-right: 30px;">
        	  <div id="committeeCarousel" class="carousel slide" style="width: 400px; margin-bottom:10px;">
           		 <ol class="carousel-indicators">
            		  <li data-target="#committeeCarousel" data-slide-to="0" class="active"></li>
            		  <li data-target="#committeeCarousel" data-slide-to="1"></li>
            		  <li data-target="#committeeCarousel" data-slide-to="2"></li>
           		 </ol>
           	 <!-- Carousel items -->
           	 <div class="carousel-inner">
           		   <div class="active item">
            		    <%=image_tag("Chrysanthemum.jpg", alt: "Example Image")%>
            		  </div>

                	 <div class="item">
               			 <%=image_tag("Lighthouse.jpg", alt: "Example Image")%>
              		</div>

          	        <div class="item">
          		      <%=image_tag("Desert.jpg", alt: "Example Image")%>
                        </div>
           	 </div>
           	 <!-- Carousel nav -->
           	 <a class="carousel-control left" href="#committeeCarousel" data-slide="prev">&lsaquo;</a>
           	 <a class="carousel-control right" href="#committeeCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
          <div class="text-center">
            <h3>Meeting Time: Thursdays at 5:00pm</h3>
            <h3>Meeting Location: 106 B3 EH</h3>
            <hr/>
          </div>

          <p style="font-size: 16px">
		The Web Dev Committee works on the very website you are looking at right now.<br/><br/>

		In 2013, an effort to redesign the website was launched by Sean Freiburg, Brian Hauger, and Pablo Zavala .<br/><br>
          </p>
     	 </div>

    </div>
		<div class="row">
			

				<table class="table table-bordered">
					    <thead>
						<tr>
						<th class="text-center">Developers</th>
						</tr>
					    </thead>

					    <tbody>
						<tr>
						<td>Brian Hauger</td>
						<td><%= link_to 'Sean Freiburg', 'http://www.seanfreiburg.com' %></td>
						<td>Pablo Zavala</td>
						</tr>

        					<tr>
						<td>Raymond Farias</td>
						<td>Cesar Vinny Martinez</td>
						<td>Christina Lopez</td>
						</tr>

						<tr>
						<td>Victoria Chandler</td>
						<td>Santiago Gutierrez</td>
						<td>Jesus Fernandez</td>
						</tr>

						<tr>
						<td>Bernardo Vargas</td>
						<td>Alexander Layton</td>
						<td>Enrique Lauriano</td>
						</tr>

						
					   </tbody>
				</table>
			</div>
 		 </div>
  </div>
</section>
