<% provide(:title, 'Web Dev Committee') %>
<section class="grey-accent committee-page">
<div class="container">
  <div class="row">
    <div class="span6">
      <h1>WebDev Committee</h1>
    </div>
    <div class="span6 text-right pull-right">
      <h4>Raymond Farias</br>
        <a href="mailto:shpe.uiuc.webmaster@gmail.com">shpe.uiuc.webmaster@gmail.com</a>
      </h4>
		</div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <div class="pull-left" style="margin-right: 20px;">
        <%=image_tag("logos/committees/web_dev.jpg", size:"400x400", alt: "Web Dev Logo")%>
      </div>
      <div class="text-center">
        <h3><strong>Meeting Time:</strong> Thursdays at 5-7pm</h3>
        <h3><strong>Meeting Location:</strong> EH 106B3</h3>
        <hr/>
      </div>
      <p>
        If you're looking to add web-development to your list of skills, observe how web-development is done, or are simply an experienced web developer looking to help with SHPE|UIUC's website then this is the committee for you. The Web Dev Committee works to meet the internet-driven, technological needs of SHPE|UIUC's e-board and general body. This often is in the form of updates to this website with new features or complete redesigns. 
      </p>
      <p>
        Yet, we turn this work into a learning experience for the tech-oriented members of SHPE|UIUC. We require no experience from an interested member. In fact, the committee has a wealth of resources to take someone from novice computer user to full-developer in one school year's time. 
      </p>
      <p>
        Through the committee you'll gain experience that can be applied to a career in web development. The committee follows professional level practices to give our members practical experience. The Web Dev committee uses Github as a repository, code review system, and an issue tracker. Futhermore, our meetings are half Agile/Scrum and half teaching. Also, the website is built on the Rails Framework, currently one of the most popular web application frameworks.
      </p>
      <p>
        To join, contact the lead developer, Raymond Farias, at <a href="mailto:shpe.uiuc.webmaster@gmail.com">shpe.uiuc.webmaster@gmail.com</a> or simply show up to the next committee meeting. The lead developer will then give you access to the Github repository and get information necessary from you to decide how you'll start learning/developing. 
      </p>
    </div>
  </div>
  <br/>
	<div class="row">
    <div class="span12">
  		<table class="table table-bordered condensed" id="webdev_developers_table">
        <caption id="webdev_developers_caption">
          <h3>Developer Credits <i>(in order of first joined)</i></h3>
        </caption>
        <tbody>
          <tr>
            <td><%= link_to 'Sean Freiburg', 'http://www.seanfreiburg.com' %> [Mentor]</td>
  				  <td>Brian Hauger [Mentor]</td>
  				  <td>Pablo Zavala [Inactive]</td>
  				</tr>
          <tr>
  				  <td>Cesar Vinny Martinez [Inactive]</td>
  				  <td>Christina Lopez [Inactive]</td>
            <td>Raymond Farias [Lead Developer]</td>
  				</tr>
          <tr>
    				<td>Victoria Chandler [Developer]</td>
            <td>Bernardo Vargas [Developer]</td>
            <td>Alexander Layton [Developer]</td>
  				</tr>
  				<tr>
    				<td>Santiago Gutierrez [Developer]</td>
            <td>Jesus Fernandez [Developer]</td>
    				<td>Enrique Lauriano [Student]</td>
  				</tr>
        </tbody>
  		</table>
    </div>
	</div>
</div>
</section>
