<div class="container">

<h1>All Announcements</h1>

<%= render 'shared/announcements', announcements: @announcements %>

<br />

<%= link_to 'Add Announcement', new_announcement_path, class: 'btn btn-success' if elevated_user? %>
</div>