<div class="container">

<p id="notice"><%= notice %></p>



<p>
  <b>Title:</b>
  <%= @announcement.title %>
</p>

<p>
  <b>Content:</b>
  <%= @announcement.content %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) , class: 'btn' if signed_in? && (admin_user? || eboard_user?)%>


</div>
