<% provide(:title, @user.name) %>

<div class="container">
  <div class="row">
    <div class="span6 offset3">

      <h1>
        <%= @user.name %>

      </h1>

      <h3>Company profile</h3>

      <%= link_to "View Resumes", view_resumes_list_path, class: 'btn btn-large btn-primary' %>

      <%= link_to "Edit Profile", edit_user_path(current_user), :class => 'btn' %>


    </div>


  </div>


</div>