<% provide(:title, 'All users') %>

<div class="container">
  <div class="span6 center">
    <h2>All users</h2>

    <% for user in @users %>
        <li>
          <%= link_to user.name, view_user_path(user) %>

        </li>
        <hr>


    <% end %>

  </div>
</div>