<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<% if @user.admin? %> 
 <p>You are an admin</p>
 <%= link_to 'Control Panel', control_panel_path, :class => 'btn btn-primary' %>
<% end %>

<% if @user.eboard? %>
 <p>You are on Eboard</p>

<% end %>