<h1>Committees#new</h1>
<!--Creating a new committee will create a blank commitee-->
<!--The user will then be linked to the edit page to populate it-->
<p>A new committee has been made, you can now edit it</p>
<li><%= link_to "EDIT", edit_committee_path%></li>
