@import "bootstrap";
@import "bootstrap-responsive";



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*start class utilities*/
.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.grey-accent {
  background: #f2f2f2 !important;
}

.white-accent {
  background: white !important;
}

.border {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.white-back {
  background-color: white;
}

.shpe-logo {
  width: 100px;
  //height: 100px;
  margin: 10px auto;
}

.sponsors img{
  display: block;
  margin: 10px auto 10px auto;
}

.resource-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.resource-img-center {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.study-hours{
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.CARE{
  max-width: 534px;
  margin-left: auto;
  margin-right: auto;
}

.event-header{
  margin-bottom: 20px;
}

/*eventually take top and left attributes out and do direct styling on which ever div used on*/

.triangle-down-white {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #ffffff transparent transparent transparent;
  line-height: 0px;
  _border-color: #007bff #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: relative;
  top: 95px;
  left: 656px;
}

.triangle-down-blue {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #0A1C26 transparent transparent transparent;
  line-height: 0px;
  _border-color: #007bff #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: relative;
  top: 15px;
  left: 656px;
}

.triangle-down-grey {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #f2f2f2 transparent transparent transparent;
  line-height: 0px;
  _border-color: #007bff #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  position: relative;
  top: 35px;
  left: 656px;
}

/*end class utilities*/

/*start header design*/
.navbar-inner {
  margin-top: 12px;
  background: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
}
/*end header design*/

/*start widgets design*/
.side-widgets {
  border-left: 1px solid #ddd;
  margin-right: -5px;
  display: inline-block;
  padding-top: 38px;
}

.side-widgets .email-rss h4 {
  display: inline;
}

.widget {
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

.widget h4 {
  color: white;
  margin: 0px auto;
  padding: 5px;
}

.widget button {
  margin-bottom: 10px;
}

.widget-inside {
  padding: 20px;
}

.donate button {
  width: 100%;
}
/*start email/rss widget*/
/*end email/rss widget*/


/*start donate widget*/


/*end donate widget*/

/*start socialize widget*/
.socialize img {
  margin-left: 45px;
}
/*end socialize widget*/

/*end widgets design*/

.pitch {
  background: #34495e !important;
  color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pitch-inherit {
  background: inherit;
  color: #777777;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pitch-white {
  background: white !important;
  color: #888888;
  padding-top: 40px;
  padding-bottom: 80px;
}

.main-info {
  display: inline-block;
}

.media {
  padding: 15px;
}

hr {
  margin: 10px 0px;
  border-color: #ddd;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f4f4f4;
}

.main-info-nav {
  margin-bottom: 0px !important;
}

/*thanks vladimir starkov from stackoverflow for this*/
.pagination {
  width: 275px;
    height: 35px;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

footer {
  color: white;
  background: #34495E;
  //padding-top: 15px;
}

.footer-logo {
  //padding-top: 20px;
  //padding-bottom: 10px;
}

.get-connected {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #0a1c26;
  color: whitesmoke;
}

.get-connected {
  padding-top: 15px;
}

.mainheader .nav {
  margin: 10px 5px;
}

.mainheader {
  margin-bottom: 0px;
}

.mainheader .nav li {
  border-top: 2px solid white;
  transition-property: border-top;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  /* Safari */
  -webkit-transition-property:background-top;
  -webkit-transition-duration:0.15s;
  -webkit-transition-timing-function:linear;
  /* Firefox */
  -moz-transition-property:background-top;
  -moz-transition-duration:0.15s;
  -moz-transition-timing-function:linear;
}

.mainheader .nav li:hover {
  border-top: 2px solid #F47F24;
  transition-property: background-top;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  /* Safari */
  -webkit-transition-property:background-top;
  -webkit-transition-duration:0.15s;
  -webkit-transition-timing-function:linear;
  /* Firefox */
  -moz-transition-property:background-top;
  -moz-transition-duration:0.15s;
  -moz-transition-timing-function:linear;
}

.pitch .hero-unit {
  background: inherit;
}

.sponsors {
 /* margin-top: 60px;
  margin-bottom: 60px; */
  background: white;
}

/* Social styling */
.social {
  margin-right: 10px;
  padding: 5px;
  /*border-radius: 3em;*/
}



.footnote {
  border-top: dashed #CCCCCC 1px;
  margin-top: 10px;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "ff-din-web","proxima-nova-alt",Tahoma,Arial,sans-serif;
  font-weight: 300;
}

@media (max-width: 767px) {
  section {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.clear {
  display: inline !important;
}

.clear input {
  margin-top: -7px;  
}

.btn {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: none;
}

/* Exec board styling begin */

.exec-board {
  width: 75%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Exec board styling end */

/* Corporate sponsorship styling begin */
.sponsor-donate {
  display: inline-block;
}
/* Corporate sponsorship styling end */