<div class="container">

<h1>New resume</h1>
  <div class="alert alert-error">
    <p>Only upload PDFs up to 10 MB in size</p>
  </div>
  <%= render 'form' %>

  <%= link_to 'Back', user_path(current_user), class: 'btn' %>

</div>
