<footer>
      <div class="container">
        <div class="row">
            <div class="shpe-logo">
              <%= image_tag 'icon-practice2.png'%>
            </div>
        </div>
        <div class="row">
          <a href="#" class="span2 offset2">About</a>
          <a href="#" class="span2">Contact</a>
          <a href="#" class="span2 offset1">Feedback</a>
          <a href="#" class="span2">Partners</a>
        </div>

                 <%= link_to 'EBoard Emails', contact_path %>

        <div class="row footnote">
          <p class="text-center">Built by <%= link_to 'Sean Freiburg', 'http://www.seanfreiburg.com' %> and Pablo Zavala</p>
        </div>
      </div>
    </footer>
