<footer>
  <div class="container">
    <div class="row">
      <div class="shpe-logo">
        <%= image_tag 'icon-practice2.png' %>
      </div>
    </div>
    <div class="row">
      <%= link_to 'About', about_path, class: 'span2 offset4' %>
      <%= link_to 'Contact', contact_path, class: 'span2 offset1' %>
    </div>
    <div class="row footnote">
      <p class="text-center">Built by the <%= link_to 'SHPE Web Dev Committee', webdev_path %></p>
    </div>
  </div>
</footer>
