<footer>
      <div class="container">
        <div class="row">
          <div class="span12 footer-logo">
            <a href="#" class="span2 offset5">
              <img src="/img/icon-practice2.png" width="100px" height="100px">
            </a>
          </div>
        </div>
        <div class="row">
          <a href="#" class="span2 offset2">About</a>
          <a href="#" class="span2">Contact</a>
          <a href="#" class="span2 offset1">Feedback</a>
          <a href="#" class="span2">Partners</a>
        </div>
        <!-- below used to be the header info -->
<!-- 
<div class="span3">
            <h5>About SHPE</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis, magna ac mollis lacinia, velit dui suscipit orci, in convallis sem nunc iaculis odio. Sed ut laoreet justo. Suspendisse potenti. Aenean placerat condimentum elit eget aliquam. </p>
            <a href="#">Learn more...</a>
          </div>
          <div class="span3">
            <h5>Contact Us</h5>
            <p>
              <i class="icon-map-marker"></i>
              Address: University of Illinois at Urbana-Champaign
  103A Engineering Hall 1308 West Green Street
  Urbana, Illinois 61801
            </p>
            <p>
              <i class="icon-headphones"></i>
              Phone: 1(217)244-8899
            </p>
            <p>
              <i class="icon-envelope"></i>
<<<<<<< HEAD
              Email: <a href="mailto:#">example@gmail.com</a>
=======
                 <%= link_to 'EBoard Emails', contact_path %>
>>>>>>> master
            </p>
          </div>
          <div class="span3">
            <h5>Facebook Announcements</h3>
              <p>SHPE|UIUC Visits A.O. Marshall was a huge success! Our fundraising efforts have been recognized on a district-wide level, and thanks to those who came, the strength of our chapter was felt and noted multiple times as well.</p> 
              <small>Cesar Martinez</small>
          </div> -->

        <div class="row footnote">
          <p class="text-center">Built by <%= link_to 'Sean Freiburg', 'http://www.seanfreiburg.com' %> and Pablo Zavala</p>
        </div>
        </div>
    </footer>
